@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	width:100%;
	height:auto;
	font-family:"微软雅黑";
	font-size:14px;
	color:#333333;
	background:url(../images/bg_01.jpg);
}
#clear{
	clear:both;
}
img{
	border:0;
}
a{
	text-decoration:none;
}

/************************top************************/
#top_bg{
	width:100%;
	height:70px;
	background:url(../images/top_01.jpg) repeat-x;
}
#top{
	width:1200px;
	height:70px;
	margin:0 auto;
}
#top_left{
	float:left;
}
#logo{
	padding-top:13px;
}
#top_right{
	float:right;
	line-height:70px;
}
#top_right_time{
	float:left;
	color:#c59c6a;
	padding-right:20px;
}
#top_right_link{
	float:right;
	color:#c59c6a;
}
#top_right_link a{
	color:#c59c6a;
	padding:0 5px;
}
#top_right_link a:hover{
	text-decoration:underline;
}

/************************header************************/
#header_bg{
	width:100%;
	height:103px;
	background:url(../images/header_01.png) repeat-x;
}
#header_shang{
	width:100%;
	height:20px;
	background:url(../images/header_02.png) repeat-x;
}
#header_xia{
	width:1200px;
	height:70px;
	margin:0 auto;
}
#hxmenu{
	float:left;
}
#hxmenu ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
#nav-menu{
	height:41px;
	width:900px;
	margin-top:17px;
}
#nav-menu .container{
	position:relative;
	overflow:visible; 
	z-index:99;
}
#nav-menu .menu li{
	position:relative;
	float:left;
	display:inline;
}
#nav-menu .menu li img{
	padding-top:8px;
}
#nav-menu .menu li a.xialaguang{
	display:inline-block;
	text-decoration:none;
	width:128px;
	height:41px;
	text-align:center;
}
#nav-menu .menu li a.navhover, #nav-menu .menu li a.xialaguang:hover{
	background-color:#FFF;
	background:url(../images/menu_01.png) no-repeat;
}
#nav-menu .menu li a.xialaguang span{
	height:30px;line-height:25px;display:inline-block;font-weight:bold;
}
#nav-menu .menu li a.selected span,#nav-menu .menu li a.navhover span,#nav-menu .menu li a.xialaguang:hover span{
	cursor:pointer;
}
#nav-menu .menu li a.navhover span, #nav-menu .menu li a.xialaguang:hover span{
	width:128px;
}
#nav-menu .menu ul.children{
	display:none;
	position:absolute;
	top:41px;
	left:13px;
	width:103px;
	line-height:normal;
}
#nav-menu .menu ul.children li{
	width:103px;
	height:41px;
	background:#940100;
	padding:0px;
	display:inline-block;
	margin-top:3px;
}
#nav-menu .menu ul.children li img{
	padding-top:10px;
}
#nav-menu .menu ul.children li a{
	display:block;
	width:103px;
	height:41px;
	text-align:center;
}
#nav-menu .menu ul.children li a:hover{
	background:#af011e;
}
#hxsousuo{
	width:260px;
	height:auto;
	float:right;
}
#hxsousuo_kong{
	clear:both;
	height:25px;
}
#hxsousuo_left{
	width:225px;
	height:28px;
	background:url(../images/header_03.png) no-repeat;
	float:left;
}
.hxsousuo_left_text{
	margin:2px 0 0 15px;
	border:none;
	background:none;
	width:200px;
	height:21px;
	line-height:21px;
	font-family:"微软雅黑";
	color:#c59c6a;
}
#hxsousuo_right{
	width:35px;
	height:28px;
	float:left;
}

/************************content************************/
#content_bg{
	width:1220px;
	height:auto;
	background:url(../images/bg_02.png) repeat-y;
	margin:0 auto;
}
#content{
	width:1200px;
	height:auto;
	margin:0 auto;
}

/**************ctupian**************/
#ctupian{
	width:1200px;
	height:370px;
	background:url(../images/ctupian_01.jpg) no-repeat top center;
	margin-top:-6px;
}
#ctupian_img{
	width:1200px;
	height:6px;
	background:url(../images/ctupian_02.png) repeat-x;
}

/**************cfgx**************/
#cfgx{
	width:1200px;
	height:auto;
}

/**************cccss**************/
#cccss{
	width:1200px;
	height:auto;
	background:url(../images/cccss_01.jpg);
	padding:20px 0;
}
#cccss_shuzhou{
	width:1200px;
	height:253px;
	background:url(../images/cccss_02.png) no-repeat;
}
#cccss_shuzhou_neirong{
	width:1040px;
	height:auto;
	margin:0 auto;
}
#csn_title{
	float:left;
	padding-top:50px;
}
#csn_fashi01{
	float:left;
	padding:48px 0 0 35px;
}
#csn_mingzi01{
	float:left;
	padding:48px 0 0 20px;
}
#csn_fashi02{
	float:left;
	padding:48px 0 0 35px;
}
#csn_mingzi02{
	float:left;
	padding:48px 0 0 20px;
}
#csn_fashi03{
	float:left;
	padding:48px 0 0 35px;
}
#csn_mingzi03{
	float:left;
	padding:48px 0 0 20px;
}
#csn_txt{
	float:right;
	padding:48px 0 0 0;
}

/**************mrjywyby**************/
#mrjywyby{
	width:1200px;
	height:auto;
	margin-top:2px;
}

/*mrjy*/
#mrjy{
	width:585px;
	height:auto;
	float:left;
}
.mrjy_title{
	width:585px;
	height:44px;
	background:url(../images/mrjy_01.jpg) no-repeat;
}
.mrjy_title_left{
	float:left;
	padding:14px 0 0 35px;
}
.mrjy_title_right{
	float:right;
	padding:17px 35px 0 0;
}
.mrjy_title_right_left{
	float:left;
	font-size:12px;
	width:30px;
}
.mrjy_title_right_left a{
	color:#deb896;
}
.mrjy_title_right_left a:hover{
	text-decoration:underline;
}
.mrjy_title_right_right{
	float:left;
}
#mrjy_neirong{
	width:570px;
	height:232px;
	background:url(../images/mrjy_04.png) no-repeat;
	margin:10px 0;
	float:right;
}
#mrjy_neirong_neirong{
	width:505px;
	height:auto;
	margin:0 auto;
}
.mnn_neirong{
	padding-top:20px;
}
.mnn_neirong a{
	color:#9b6728;
	padding:0 5px;
}
.mnn_neirong a:hover{
	text-decoration:underline;
}





.mnn_neirong_left{
	width:14px;
	float:left;
	padding-top:10px;
}
.mnn_neirong_right{
	width:485px;
	float:right;
	color:#9b6728;
	font-size:16px;
	line-height:32px;
}

/*wyby*/
#wyby{
	width:585px;
	height:auto;
	float:right;
}
#wyby_neirong{
	width:570px;
	height:232px;
	background:url(../images/mrjy_04.png) no-repeat;
	margin:10px 0;
	float:left;
}
#wyby_neirong_neirong{
	width:505px;
	height:auto;
	margin:0 auto;
}

/**************hfjsxxfb**************/
#hfjsxxfb{
	clear:both;
	width:1200px;
	height:auto;
}

/*hfjs*/
#hfjs{
	width:585px;
	height:auto;
	float:left;
}
.hfjs_neirong{
	width:530px;
	height:auto;
	margin:0 auto;
	padding:25px 0 20px 0;
}
.hfjs_neirong_shang_left{
	width:156px;
	height:auto;
	float:left;
}
.hfjs_neirong_shang_right{
	width:365px;
	height:auto;
	float:right;
}
.hnsr_title_left{
	width:14px;
	float:left;
	padding-top:5px;
}
.hnsr_title_right{
	width:345px;
	float:right;
	font-size:18px;
}
.hnsr_title_right a{
	color:#9b1212;
}
.hnsr_title_right a:hover{
	text-decoration:underline;
}
.hnsr_txt{
	color:#9b6728;
	font-size:16px;
	line-height:28px;
	padding:10px 0 0 20px;
}
.hfjs_neirong_xia{
	margin-top:15px;
}
.hfjs_neirong_xia ul{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:16px;
}
.hfjs_neirong_xia ul li{
	background:url(../images/mrjy_05.png) no-repeat left center;
	padding:6px 0 6px 20px;
}
.hfjs_neirong_xia ul li a{
	color:#9b6728;
}
.hfjs_neirong_xia ul li a:hover{
	text-decoration:underline;
}

/*xxfb*/
#xxfb{
	width:585px;
	height:auto;
	float:right;
}

/**************stzqssfx**************/
#stzqssfx{
	clear:both;
	width:1200px;
	height:auto;
}

/*stzq*/
#stzq{
	width:585px;
	height:auto;
	float:left;
}
#stzq_neirong{
	width:530px;
	height:auto;
	margin:0 auto;
	padding:25px 0 20px 0;
}
#stzq_neirong_left{
	width:228px;
	height:167px;
	float:left;
}
#stzq_neirong_left_bot{
	width:228px;
	margin:0 auto;
	height:30px;
	background-color:#656565;
	filter:alpha(Opacity=80);-moz-opacity:0.8;opacity: 0.8;
	margin-top:-30px;
}

#stzq_neirong_left_bot_left{
	width:190px;
	float:left;
	height:30px;
	line-height:30px;
	padding-left:6px;
	
}
#stzq_neirong_left_bot_left a{
	color:#fff;
	padding:0 5px;
}
#stzq_neirong_left_bot_left a:hover{
	text-decoration:underline;
}
#stzq_neirong_left_bot_right{
	width:28px;
	float:right;
	height:24px;
	padding-top:6px;
}
#stzq_neirong_right{
	width:287px;
	height:auto;
	float:right;
}
#stzq_neirong_right ul{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:16px;
}
#stzq_neirong_right ul li{
	background:url(../images/mrjy_05.png) no-repeat left center;
	padding:6px 0 6px 20px;
}
#stzq_neirong_right ul li a{
	color:#9b6728;
}
#stzq_neirong_right ul li a:hover{
	text-decoration:underline;
}

/*ssfx*/
#ssfx{
	width:585px;
	height:auto;
	float:right;
}
#ssfx_neirong{
	width:530px;
	height:auto;
	margin:0 auto;
	padding:25px 0 20px 0;
}
#ssfx_neirong_left{
	width:156px;
	height:auto;
	float:left;
	text-align:center;
}
.ssfx_neirong_txt{
	padding-top:20px;
}
.ssfx_neirong_txt a{
	color:#9b6728;
}
.ssfx_neirong_txt a:hover{
	text-decoration:underline;
}
#ssfx_neirong_mid{
	width:156px;
	height:auto;
	float:left;
	text-align:center;
	margin-left:30px;
}
#ssfx_neirong_right{
	width:156px;
	height:auto;
	float:right;
	text-align:center;
}

/**************fzxdkaxt**************/
#fzxdkaxt{
	clear:both;
	width:1200px;
	height:auto;
}

/*fzxd*/
#fzxd{
	width:585px;
	height:auto;
	float:left;
}
#fzxd_neirong{
	width:530px;
	height:auto;
	margin:0 auto;
	padding:25px 0 20px 0;
}
#fzxd_neirong_shang_left{
	width:156px;
	height:auto;
	float:left;
}
#fzxd_neirong_shang_right{
	width:365px;
	height:auto;
	float:right;
}
#fnsr_title_left{
	width:14px;
	float:left;
	padding-top:5px;
}
#fnsr_title_right{
	width:345px;
	float:right;
	font-size:18px;
}
#fnsr_title_right a{
	color:#9b1212;
}
#fnsr_title_right a:hover{
	text-decoration:underline;
}
#fnsr_txt{
	color:#9b6728;
	font-size:16px;
	line-height:28px;
	padding:10px 0 0 20px;
}
#fzxd_neirong_xia{
	margin-top:15px;
}
#fzxd_neirong_xia ul{
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:16px;
}
#fzxd_neirong_xia ul li{
	background:url(../images/mrjy_05.png) no-repeat left center;
	padding:6px 0 6px 20px;
}
#fzxd_neirong_xia ul li a{
	color:#9b6728;
}
#fzxd_neirong_xia ul li a:hover{
	text-decoration:underline;
}

/*kaxt*/
#kaxt{
	width:585px;
	height:auto;
	float:right;
}
#kaxt_neirong{
	width:585px;
	height:auto;
}
.tb_{
	width:131px;
	height:78px;
	float:left;
}
.tb_ ul{
	padding:0;
	margin:0;
	list-style-type:none;
	height:78px;
}
.tb_ li{
	height:58px;
	cursor:pointer;
	margin-top:4px;
	text-align:center;
}
.tb_li_img{
	padding-top:19px;
}
.normaltab{
	background:url(../images/kaxt_02.png) no-repeat;
}
.hovertab{
	background:url(../images/kaxt_03.png) no-repeat;
}
.ctt{
	width:420px;
	height:auto;
	float:right;
	margin-right:20px;
}
.dis{
	display:block;
}
.undis{
	display:none;
}
#knxydt{
	width:420px;
	height:auto;
}
#knxydt_txt{
	font-size:16px;
	line-height:28px;
	color:#9b6728;
	padding-top:20px;
}
#knxydt_lianjie{
	margin-top:20px;
}

/**************xmfsfj**************/
#xmfsfj{
	clear:both;
	width:1200px;
	height:auto;
}

/*xmwk*/
#xmwk{
	width:382px;
	height:auto;
	float:left;
}
.xmwk_title{
	width:382px;
	height:44px;
	background:url(../images/xmwk_01.jpg) no-repeat;
}
.xmwk_title_left{
	float:left;
	padding:14px 0 0 35px;
}
.xmwk_title_right{
	float:right;
	padding:17px 35px 0 0;
}
.xmwk_title_right_left{
	float:left;
	font-size:12px;
	width:30px;
}
.xmwk_title_right_left a{
	color:#deb896;
}
.xmwk_title_right_left a:hover{
	text-decoration:underline;
}
.xmwk_title_right_right{
	float:left;
}
.xmwk_neirong{
	width:320px;
	height:auto;
	margin:0 auto;
	padding:20px 0;
	font-size:16px;
}
.xmwk_neirong ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
.xmwk_neirong ul li{
	background:url(../images/mrjy_05.png) no-repeat left center;
	padding:6px 0 6px 20px;
}
.xmwk_neirong ul li a{
	color:#9b6728;
}
.xmwk_neirong ul li a:hover{
	text-decoration:underline;
}

/*fsly*/
#fsly{
	width:382px;
	height:auto;
	float:left;
	margin-left:27px;
}

/*fjgs*/
#fjgs{
	width:382px;
	height:auto;
	float:right;
}

/************************footer************************/
#footer_bg{
	width:100%;
	height:174px;
	background:url(../images/footer_01.jpg) repeat-x;
}
#footer{
	width:1200px;
	height:auto;
	margin:0 auto;
}
#footer_img{
	width:44px;
	height:auto;
	margin:0 auto;
	padding:27px 0 15px 0;
}
#footer_txt{
	text-align:center;
	color:#a17450;
	line-height:22px;
}
