@charset "utf-8";
/* CSS Document */

body{
	padding:0;
	margin:0;
	width:100%;
	height:auto;
	font-family:"微软雅黑";
	font-size:14px;
	color:#333333;
	background:url(../images/bg_01.jpg);
}
#clear{
	clear:both;
}
img{
	border:0;
}
a{
	text-decoration:none;
}

/************************top************************/
#top_bg{
	width:100%;
	height:70px;
	background:url(../images/top_01.jpg) repeat-x;
}
#top{
	width:1200px;
	height:70px;
	margin:0 auto;
}
#top_left{
	float:left;
}
#logo{
	padding-top:13px;
}
#top_right{
	float:right;
	line-height:70px;
}
#top_right_time{
	float:left;
	color:#c59c6a;
	padding-right:20px;
}
#top_right_link{
	float:right;
	color:#c59c6a;
}
#top_right_link a{
	color:#c59c6a;
	padding:0 5px;
}
#top_right_link a:hover{
	text-decoration:underline;
}

/************************header************************/
#header_bg{
	width:100%;
	height:103px;
	background:url(../images/header_01.png) repeat-x;
}
#header_shang{
	width:100%;
	height:20px;
	background:url(../images/header_02.png) repeat-x;
}
#header_xia{
	width:1200px;
	height:70px;
	margin:0 auto;
}
#hxmenu{
	float:left;
}
#hxmenu ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
#nav-menu{
	height:41px;
	width:900px;
	margin-top:17px;
}
#nav-menu .container{
	position:relative;
	overflow:visible; 
	z-index:99;
}
#nav-menu .menu li{
	position:relative;
	float:left;
	display:inline;
}
#nav-menu .menu li img{
	padding-top:8px;
}
#nav-menu .menu li a.xialaguang{
	display:inline-block;
	text-decoration:none;
	width:128px;
	height:41px;
	text-align:center;
}
#nav-menu .menu li a.navhover, #nav-menu .menu li a.xialaguang:hover{
	background-color:#FFF;
	background:url(../images/menu_01.png) no-repeat;
}
#nav-menu .menu li a.xialaguang span{
	height:30px;line-height:25px;display:inline-block;font-weight:bold;
}
#nav-menu .menu li a.selected span,#nav-menu .menu li a.navhover span,#nav-menu .menu li a.xialaguang:hover span{
	cursor:pointer;
}
#nav-menu .menu li a.navhover span, #nav-menu .menu li a.xialaguang:hover span{
	width:128px;
}
#nav-menu .menu ul.children{
	display:none;
	position:absolute;
	top:41px;
	left:13px;
	width:103px;
	line-height:normal;
}
#nav-menu .menu ul.children li{
	width:103px;
	height:41px;
	background:#940100;
	padding:0px;
	display:inline-block;
	margin-top:3px;
}
#nav-menu .menu ul.children li img{
	padding-top:10px;
}
#nav-menu .menu ul.children li a{
	display:block;
	width:103px;
	height:41px;
	text-align:center;
}
#nav-menu .menu ul.children li a:hover{
	background:#af011e;
}
#hxsousuo{
	width:260px;
	height:auto;
	float:right;
}
#hxsousuo_kong{
	clear:both;
	height:25px;
}
#hxsousuo_left{
	width:225px;
	height:28px;
	background:url(../images/header_03.png) no-repeat;
	float:left;
}
.hxsousuo_left_text{
	margin:2px 0 0 15px;
	border:none;
	background:none;
	width:200px;
	height:21px;
	line-height:21px;
	font-family:"微软雅黑";
	color:#c59c6a;
}
#hxsousuo_right{
	width:35px;
	height:28px;
	float:left;
}

/************************content************************/
#content_bg{
	width:1220px;
	height:auto;
	background:url(../images/bg_02.png) repeat-y;
	margin:0 auto;
}
#content{
	width:1200px;
	height:auto;
	margin:0 auto;
}

/**************ctupian**************/
#ctupian{
	width:1200px;
	height:222px;
	background:url(../images/cccss_01.jpg);
	margin-top:-6px;
}
#ctupian_img{
	width:1200px;
	height:6px;
	background:url(../images/ctupian_02.png) repeat-x;
}
#ctupian_weizhi{
	width:500px;
	font-size:16px;
	padding:10px 0 10px 20px;
	color:#7f1917;
}
#ctupian_weizhi a{
	color:#7f1917;
	padding:0 5px;
}
#ctupian_weizhi a:hover{
	text-decoration:underline;
}
#ctupian_txt{
	width:260px;
	text-align:center;
	padding-top:25px;
	margin:0 auto;
}
#ctupian_txt ul{
	padding:0;
	margin:0;
	list-style-type:none;
}
#ctupian_txt ul li{
	float:left;
	padding:0 20px;
	width:24px;
	height:115px;
}
#ctupian_txt ul li img{
	padding-top:10px;
}
#ctupian_txt ul li a{
	display:block;
	width:24px;
	height:115px;
}
#ctupian_txt ul li a:hover{
	background:url(../images/nyhfjs_01_05.png) no-repeat;
}
#ctupian_txt .ctupian_txt_active a{
	background:url(../images/nyhfjs_01_05.png) no-repeat;
}

/**************nyhfjs_neirong**************/
#nyhfjs_neirong{
	width:1200px;
	height:auto;
	background:#f6e9e3;
}
#nyhfjs_neirong_neirong{
	width:912px;
	height:auto;
	margin:0 auto;
	margin-top: -20px;
	padding:60px 0 100px 0;
}
.nnn_dan{
	width:440px;
	height:auto;
	border-bottom:1px solid #be9247;
	padding-bottom:40px;
}
.nnn_dan_left{
	width:156px;
	height:auto;
	float:left;
}
.nnn_dan_right{
	width:270px;
	height:117px;
	float:right;
}
.nnn_dan_right_title{
	font-size:16px;
	padding-top:5px;
}
.nnn_dan_right_title a{
	color:#7d491a;
}
.nnn_dan_right_title a:hover{
	text-decoration:underline;
}
.nnn_dan_right_txt{
	padding-top:10px;
	color:#9a662a;
	line-height:24px;
}
.nnn_dan_right_xx{
	padding-top:7px;
}
.nnn_dan_kpng{
	clear:both;
	height:40px;
}
.con6-left{ width:740px; float:left; margin-top:20px; border-top:#336699 solid 3px;}
.con6-lefttop{ width:740px; float:left;}
.con6-lefttople{ float:left; width:360px;}
.con6-lefttoplt{ width:350px; float:left; padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con6-lefttoplt span{ float:right; font-weight:100; font-size:13px;}
.con6-lefttoplc{ width:360px; float:left; margin-top:10px;}
.con6-lefttoplc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con6-lefttoplc dl dd{ width:135px; float:left;}
.con6-lefttoplc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con6-lefttoplc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; margin-top:5px; color:#777}
.con6-lefttoplc dl dt h3{ height:25px; line-height:25px;}
.con6-lefttoplc ul{ float:left; width:360px; margin-top:5px;}
.con6-lefttoplc ul li{ float:left; width:335px; height:38px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center  left; padding-left:10px; margin-left:5px; display:inline; font-size:14px}
/*new 后面样式end*/
.con6-lefttoplc2 ul{ float:left; margin:0; padding:0;  }
.con6-lefttoplc2 ul li{ float:left;width:160px; height:38px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px}







.con6-lefttopre{ float:right; width:360px;}
.con6-lefttoprt{ width:350px; float:left; padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con6-lefttoprt span{ float:right; font-weight:100; font-size:13px;}
.con6-lefttoprc{ width:360px; float:left; margin-top:10px;}
.con6-lefttoprc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con6-lefttoprc dl dd{ width:135px; float:left;}
.con6-lefttoprc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con6-lefttoprc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; margin-top:5px; color:#777}
.con6-lefttoprc dl dt h3{ height:25px; line-height:25px;}
.con6-lefttoprc ul{ float:left; width:360px; margin-top:5px;}
.con6-lefttoprc ul li{ float:left; width:335px; height:38px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px}

.con6-leftbot{ width:740px; float:left; margin-top:15px;}
.con6-leftbotle{ float:left; width:360px; border-top:#336699 solid 3px; }
.con6-leftbotlt{ width:350px; float:left;  padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con6-leftbotlt span{ float:right; font-weight:100; font-size:13px;}
.con6-leftbotlc{ width:360px; float:left; margin-top:10px;}
.con6-leftbotlc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con6-leftbotlc dl dd{ width:135px; float:left;}
.con6-leftbotlc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con6-leftbotlc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; margin-top:5px; color:#777}
.con6-leftbotlc dl dt h3{ height:25px; line-height:25px;}
.con6-leftbotlc ul{ float:left; width:360px; margin-top:5px;}
.con6-leftbotlc ul li{ float:left; width:335px; height:35px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline;}

.con6-leftbotre{ float:right; width:360px; border-top:#336699 solid 3px; }
.con6-leftbotrt{ width:350px; float:left; padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con6-leftbotrt span{ float:right; font-weight:100; font-size:13px;}
.con6-leftbotrc{ width:360px; float:left; margin-top:10px;}
.con6-leftbotrc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con6-leftbotrc dl dd{ width:135px; float:left;}
.con6-leftbotrc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con6-leftbotrc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; margin-top:5px;color:#777}
.con6-leftbotrc dl dt h3{ height:25px; line-height:25px;}
.con6-leftbotrc ul{ float:left; width:360px; margin-top:5px;}
.con6-leftbotrc ul li{ float:left; width:335px; height:38px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px;}

.con8-left{ width:740px; float:left; margin-top:20px; border-top:#336699 solid 3px;}
.con8-lefttop{ width:740px; float:left;}
.con8-lefttople{ float:left; width:360px;}
.con8-lefttoplt{ width:350px; float:left;  padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con8-lefttoplt span{ float:right; font-weight:100; font-size:13px;}
.con8-lefttoplc{ width:360px; float:left; margin-top:10px;}
.con8-lefttoplc h3{ height:30px; line-height:35px;}
.con8-lefttoplc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con8-lefttoplc dl dd{ width:135px; float:left;}
.con8-lefttoplc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con8-lefttoplc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; color:#777}
.con8-lefttoplc dl dt h3{ height:25px; line-height:25px;}
.con8-lefttoplc ul{ float:left; width:360px; margin-top:5px;}
.con8-lefttoplc ul li{ float:left; width:335px; height:35px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px;}

.con8-lefttopre{ float:right; width:360px;}
.con8-lefttoprt{ width:350px; float:left;  padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con8-lefttoprt span{ float:right; font-weight:100; font-size:13px;}
.con8-lefttoprc{ width:360px; float:left; margin-top:10px;}
.con8-lefttoprc h3{ height:30px; line-height:35px;}
.con8-lefttoprc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con8-lefttoprc dl dd{ width:135px; float:left;}
.con8-lefttoprc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con8-lefttoprc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px;color:#777 }
.con8-lefttoprc dl dt h3{ height:25px; line-height:25px;}
.con8-lefttoprc ul{ float:left; width:360px; margin-top:5px;}
.con8-lefttoprc ul li{ float:left; width:335px; height:35px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px;}

.con8-leftbot{ width:740px; float:left; margin-top:15px;}
.con8-leftbotle{ float:left; width:360px; border-top:#336699 solid 3px; }
.con8-leftbotlt{ width:350px; float:left;  padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con8-leftbotlt span{ float:right; font-weight:100; font-size:13px;}
.con8-leftbotlc{ width:360px; float:left; margin-top:10px;}
.con8-leftbotlc h3{ height:30px; line-height:35px;}
.con8-leftbotlc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con8-leftbotlc dl dd{ width:135px; float:left;}
.con8-leftbotlc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con8-leftbotlc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; color:#777}
.con8-leftbotlc dl dt h3{ height:25px; line-height:25px;}
.con8-leftbotlc ul{ float:left; width:360px; margin-top:5px;}
.con8-leftbotlc ul li{ float:left; width:335px; height:35px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px;}

.con8-leftbotre{ float:right; width:360px; border-top:#336699 solid 3px; }
.con8-leftbotrt{ width:350px; float:left; padding-left:5px; height:38px; line-height:38px; font-size:16px; font-weight:bold; color:#404040; border-bottom:#e0e0e0 solid 1px; padding-right:5px;}
.con8-leftbotrt span{ float:right; font-weight:100; font-size:13px;}
.con8-leftbotrc{ width:360px; float:left; margin-top:10px;}
.con8-leftbotrc h3{ height:30px; line-height:35px;}
.con8-leftbotrc dl{ width:360px; float:left; padding-bottom:10px; border-bottom:dashed #304c5f 1px;}
.con8-leftbotrc dl dd{ width:135px; float:left;}
.con8-leftbotrc dl dd img{ height:80px; width:135px; overflow:hidden;}
.con8-leftbotrc dl dt{ float:left; width:215px; margin-left:10px; display:inline; line-height:21px; color:#777}
.con8-leftbotrc dl dt h3{ height:25px; line-height:25px;}
.con8-leftbotrc ul{ float:left; width:360px; margin-top:5px;}
.con8-leftbotrc ul li{ float:left; width:335px; height:35px; line-height:35px; background:url(../images/dian_43.gif) no-repeat center left; padding-left:10px; margin-left:5px; display:inline; font-size:14px;}
/*CSS manu style pagination*/
.manu {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.manu A {
	BORDER-RIGHT: #f6e9e3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f6e9e3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #f6e9e3 1px solid; COLOR: #999999; PADDING-TOP: 2px; BORDER-BOTTOM: #f6e9e3 1px solid; TEXT-DECORATION: none
}
.manu A:hover {
	background:#841c19;
	color:#fff;
}

.manu A:active {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; COLOR: #999999; BORDER-BOTTOM: #999999 1px solid
}
.manu .thisclass {
	BORDER-RIGHT: #036cb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #036cb4 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #036cb4 1px solid; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #036cb4 1px solid; BACKGROUND-COLOR: #036cb4
}
.manu .disabled {
	font-size:12px BORDER-RIGHT: #f6e9e3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f6e9e3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #f6e9e3 1px solid; COLOR: #999999; PADDING-TOP: 2px; BORDER-BOTTOM: #f6e9e3 1px solid
}

.manu .disabled li{
	display:inline;
}

/************************footer************************/
#footer_bg{
	width:100%;
	height:174px;
	background:url(../images/footer_01.jpg) repeat-x;
}
#footer{
	width:1200px;
	height:auto;
	margin:0 auto;
}
#footer_img{
	width:44px;
	height:auto;
	margin:0 auto;
	padding:27px 0 15px 0;
}
#footer_txt{
	text-align:center;
	color:#a17450;
	line-height:22px;
}
