BODY {
	BACKGROUND: url(../images/army.png) no-repeat
}
.tit_h28 {
	BACKGROUND: url(../images/army.png) no-repeat
}
.list_item LI {
	BACKGROUND: url(../images/army.png) no-repeat
}
.r_tittwo {
	BACKGROUND: url(../images/army.png) no-repeat
}
.tgbs_tit {
	BACKGROUND: url(../images/army.png) no-repeat
}
.r_titfour {
	BACKGROUND: url(../images/army.png) no-repeat
}
.list_time_edit LI {
	BACKGROUND: url(../images/army.png) no-repeat
}
.index_tabcss LI {
	BACKGROUND: url(../images/army.png) no-repeat
}
BODY {
	BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -770px
}
.wrap704 {
	WIDTH: 704px; FLOAT: left
}
.list_ol {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.new_tit {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.tgbs_tit H2 {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.wrap_scon P A {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.r_titthree {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.toutiaos H3 {
	MARGIN: 0px auto; WIDTH: 292px
}
.toutao_con {
	MARGIN: 0px auto; WIDTH: 292px
}
.list_item {
	MARGIN: 0px auto; WIDTH: 292px
}
.list_ol {
	MARGIN: 0px auto; WIDTH: 282px
}
.top_title {
	MARGIN-TOP: 7px
}
#test {
	MARGIN-TOP: 7px
}
.tit_h28 {
	MARGIN-TOP: 7px
}
.toutao_con {
	MARGIN-TOP: 7px
}
.wrap246_one {
	MARGIN-TOP: 7px
}
.tgbs_tit {
	MARGIN-TOP: 7px
}
.r_titthree {
	MARGIN-TOP: 7px
}
.wrap702 {
	MARGIN-TOP: 7px
}
.list_item {
	MARGIN-TOP: 10px
}
.toutiaos H2 {
	MARGIN-TOP: 10px
}
.r_tittwo {
	MARGIN-TOP: 10px
}
.top_title {
	TEXT-ALIGN: center; OVERFLOW: hidden
}
.toutiaos H3 {
	TEXT-ALIGN: center; OVERFLOW: hidden
}
.new_tits {
	TEXT-ALIGN: center; OVERFLOW: hidden
}
.wrap246_one H3 {
	TEXT-ALIGN: center; OVERFLOW: hidden
}
.pic_list A {
	TEXT-ALIGN: center; OVERFLOW: hidden
}
.new_tit {
	TEXT-INDENT: -999em; OVERFLOW: hidden
}
.top_title {
	HEIGHT: 80px
}
.top_title H1 {
	LINE-HEIGHT: 53px; MARGIN: 0px auto; WIDTH: 674px; FONT-FAMILY: ºÚÌå; HEIGHT: 46px; FONT-SIZE: 26px; OVERFLOW: hidden
}
.hotnews {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; HEIGHT: 23px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.hotnews A {
	MARGIN: 0px 3px; COLOR: #666
}
.hotnews A:hover {
	COLOR: #c00000
}
.list_double A:hover {
	COLOR: #c00000
}
.orgen_a:hover {
	COLOR: #c00000
}
.pic_list A:hover {
	COLOR: #c00000
}
.wrap_stit A:hover {
	COLOR: #c00000
}
.wrap354 A:hover {
	COLOR: #c00000
}
.wrap368 .list_item_s A:hover {
	COLOR: #c00000
}
.list_time A:hover {
	COLOR: #c00000
}
.wrap310 {
	WIDTH: 310px; FLOAT: left
}
#indextagimg {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; HEIGHT: 388px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 4px
}
#indextagimg .JQ-content-box {
	WIDTH: 300px; HEIGHT: 388px
}
#indextagimg IMG {
	WIDTH: 300px; HEIGHT: 388px
}
#indextagimg .JQ-content-box {
	POSITION: relative; OVERFLOW: hidden
}
#indextagimg .JQ-slide-content {
	POSITION: absolute
}
#indextagimg H3 {
	POSITION: absolute
}
#indextagimg .JQ-slide-content LI {
	POSITION: relative; WIDTH: 300px; ZOOM: 1; FLOAT: left; HEIGHT: 388px; FONT-SIZE: 0px; VERTICAL-ALIGN: text-top; OVERFLOW: hidden
}
#indextagimg .JQ-slide-nav {
	Z-INDEX: 1; POSITION: absolute; BOTTOM: 8px; RIGHT: 2px
}
#indextagimg .JQ-slide-nav LI {
	TEXT-ALIGN: center; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6f000000,endColorstr=#6f000000); LINE-HEIGHT: 18px; WIDTH: 18px; FLOAT: left; HEIGHT: 18px; COLOR: #fff; MARGIN-LEFT: 3px; CURSOR: pointer
}
#indextagimg .JQ-slide-nav LI.on {
	FILTER: none; BACKGROUND-COLOR: #cc0000
}
#indextagimg H3 {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6E000000,endColorstr=#6E000000); LINE-HEIGHT: 36px; WIDTH: 300px; BOTTOM: 0px; DISPLAY: block; HEIGHT: 36px; FONT-SIZE: 14px; OVERFLOW: hidden; LEFT: 0px
}
#indextagimg H3 A {
	TEXT-INDENT: 5px; WIDTH: 186px; DISPLAY: block; HEIGHT: 36px; OVERFLOW: hidden
}
#indextagimg .JQ-slide-nav LI.on {
	BACKGROUND-COLOR: #cc0000
}
#indextagimg A {
	COLOR: #fff; TEXT-DECORATION: none
}
#indextagimg A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.tit_h28 {
	LINE-HEIGHT: 30px; HEIGHT: 28px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.toutiaos H2 {
	LINE-HEIGHT: 30px; HEIGHT: 28px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.tit_h28 {
	BORDER-LEFT: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.tgbs_tit {
	BORDER-LEFT: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid
}
.tit_h28 {
	TEXT-INDENT: 15px; BACKGROUND-POSITION: 0px -732px
}
.wrap_gray {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; BORDER-TOP: #ddd 1px; BORDER-RIGHT: #ddd 1px solid
}
.toutiaos {
	HEIGHT: 438px; OVERFLOW: hidden
}
.toutiaos H3 {
	LINE-HEIGHT: 36px; HEIGHT: 33px; FONT-SIZE: 14px
}
.toutiaos H3 A {
	COLOR: #bc2d09
}
.toutao_con {
	HEIGHT: 100px; OVERFLOW: hidden
}
.wrap_scon {
	HEIGHT: 100px; OVERFLOW: hidden
}
.toutao_con IMG {
	BORDER-BOTTOM: #c5c5c5 1px solid; BORDER-LEFT: #c5c5c5 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 124px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 94px; BORDER-TOP: #c5c5c5 1px solid; MARGIN-RIGHT: 13px; BORDER-RIGHT: #c5c5c5 1px solid; PADDING-TOP: 2px
}
.wrap_scon IMG {
	BORDER-BOTTOM: #c5c5c5 1px solid; BORDER-LEFT: #c5c5c5 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 124px; PADDING-RIGHT: 2px; FLOAT: left; HEIGHT: 94px; BORDER-TOP: #c5c5c5 1px solid; MARGIN-RIGHT: 13px; BORDER-RIGHT: #c5c5c5 1px solid; PADDING-TOP: 2px
}
.toutao_con P {
	ZOOM: 1; OVERFLOW: hidden
}
.wrap_scon P {
	ZOOM: 1; OVERFLOW: hidden
}
.toutao_con P {
	LINE-HEIGHT: 1.6; HEIGHT: 96px; COLOR: #666
}
.wrap_scon P {
	LINE-HEIGHT: 1.6; HEIGHT: 96px; COLOR: #666
}
.list_picfont P {
	LINE-HEIGHT: 1.6; HEIGHT: 96px; COLOR: #666
}
.list_item LI {
	WIDTH: 100%; FLOAT: left
}
.list_ol LI {
	WIDTH: 100%; FLOAT: left
}
.list_double LI {
	WIDTH: 100%; FLOAT: left
}
.list_time LI {
	WIDTH: 100%; FLOAT: left
}
.list_time_edit LI {
	WIDTH: 100%; FLOAT: left
}
.list_item_s LI {
	WIDTH: 100%; FLOAT: left
}
.list_item LI {
	LINE-HEIGHT: 17px; MARGIN-TOP: 4px; TEXT-INDENT: 18px; BACKGROUND-POSITION: -951px -289px; HEIGHT: 17px; OVERFLOW: hidden
}
.list_ol LI {
	LINE-HEIGHT: 17px; MARGIN-TOP: 4px; TEXT-INDENT: 18px; BACKGROUND-POSITION: -951px -289px; HEIGHT: 17px; OVERFLOW: hidden
}
.list_double LI {
	LINE-HEIGHT: 17px; MARGIN-TOP: 4px; TEXT-INDENT: 18px; BACKGROUND-POSITION: -951px -289px; HEIGHT: 17px; OVERFLOW: hidden
}
.list_item_s LI {
	LINE-HEIGHT: 17px; MARGIN-TOP: 4px; TEXT-INDENT: 18px; BACKGROUND-POSITION: -951px -289px; HEIGHT: 17px; OVERFLOW: hidden
}
.toutiaos H2 {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-INDENT: 16px; BACKGROUND: #f4f4f4; BORDER-TOP: #ddd 1px solid
}
.list_ol {
	BACKGROUND-POSITION: -370px -870px
}
.list_ol {
	MARGIN-TOP: 3px
}
.list_ol LI {
	MARGIN-TOP: 5px; TEXT-INDENT: 22px
}
.wrap385 {
	BORDER-BOTTOM: #dfdfdf 1px solid; BORDER-LEFT: #dfdfdf 1px solid; WIDTH: 387px; FLOAT: right; HEIGHT: 870px; OVERFLOW: hidden; BORDER-TOP: #dfdfdf 1px solid; BORDER-RIGHT: #dfdfdf 1px solid
}
.wrap385 .pic_listwo A {
	MARGIN-LEFT: 11px
}
.index_tabcss {
	WIDTH: 388px; HEIGHT: 32px; OVERFLOW: hidden
}
.index_tabcss LI {
	BORDER-BOTTOM: #ddd 1px solid; TEXT-ALIGN: center; LINE-HEIGHT: 31px; WIDTH: 95px; BACKGROUND-POSITION: 0px -400px; FLOAT: left; HEIGHT: 31px; COLOR: #333; CURSOR: pointer; BORDER-RIGHT: #ddd 1px solid
}
.index_tabcss LI.current {
	BORDER-BOTTOM-STYLE: none; WIDTH: 99px; BACKGROUND-POSITION: 0px -433px; HEIGHT: 32px; FONT-WEIGHT: bold
}
.new_tit {
	BACKGROUND-POSITION: 0px -248px; MARGIN-BOTTOM: -10px; HEIGHT: 37px
}
.new_tits {
	MARGIN: 0px auto; WIDTH: 367px
}
.list_double {
	MARGIN: 0px auto; WIDTH: 367px
}
.list_time {
	MARGIN: 0px auto; WIDTH: 367px
}
.list_time_edit {
	MARGIN: 0px auto; WIDTH: 367px
}
.addpcss {
	MARGIN: 0px auto; WIDTH: 367px
}
.addpcss {
	LINE-HEIGHT: 1.8; MARGIN-TOP: 4px; COLOR: #666
}
.addpcss A {
	COLOR: #da0000
}
.addpcss A:hover {
	COLOR: #da0000
}
.new_tits {
	LINE-HEIGHT: 36px; MARGIN-TOP: 6px; HEIGHT: 30px; FONT-SIZE: 16px
}
.list_double LI {
	MARGIN-TOP: 7px; TEXT-INDENT: 7px; WIDTH: 49.9%
}
.list_double A {
	COLOR: #1c519f
}
.wrap_stit A {
	COLOR: #1c519f
}
.wrap354 A {
	COLOR: #1c519f
}
.wrap368 .list_item_s A {
	COLOR: #1c519f
}
.list_time {
	PADDING-TOP: 5px
}
.list_time LI {
	LINE-HEIGHT: 17px; MARGIN-TOP: 6px; HEIGHT: 17px; OVERFLOW: hidden
}
.wrap246_one H3 {
	LINE-HEIGHT: 17px; MARGIN-TOP: 6px; HEIGHT: 17px; OVERFLOW: hidden
}
.wrap_stit {
	LINE-HEIGHT: 17px; MARGIN-TOP: 6px; HEIGHT: 17px; OVERFLOW: hidden
}
.list_time SPAN {
	WIDTH: 335px; FLOAT: left; HEIGHT: 17px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.list_time_edit SPAN {
	WIDTH: 335px; FLOAT: left; HEIGHT: 17px; FONT-SIZE: 14px; OVERFLOW: hidden
}
.list_time CODE {
	FLOAT: right; COLOR: #999
}
.list_time_edit CODE {
	FLOAT: right; COLOR: #999
}
.list_time A {
	MARGIN: 0px 3px
}
.list_time_edit {
	MARGIN-TOP: 10px; BORDER-TOP: #ccc 1px dashed; PADDING-TOP: 3px
}
.list_time_edit LI {
	LINE-HEIGHT: 21px; MARGIN-TOP: 6px; BACKGROUND-POSITION: -950px -287px; HEIGHT: 21px; OVERFLOW: hidden
}
.list_time_edit SPAN {
	TEXT-INDENT: 15px; HEIGHT: 21px
}
.list_time_edit SPAN STRONG A {
	COLOR: #333
}
.list_time_edit CODE {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #bc2d09; FONT-SIZE: 12px
}
.list_time_edit A {
	COLOR: #1c519f
}
.orgen_a {
	COLOR: #fa6d04
}
.wrap246_one {
	BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 234px; PADDING-RIGHT: 5px; BACKGROUND: url(http://www.leiting001.com/images/index_zt.gif) #fff no-repeat; FLOAT: right; HEIGHT: 950px; OVERFLOW: hidden; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 0px
}
.r_titone H2 {
	PADDING-LEFT: 6px; FLOAT: left; FONT-SIZE: 14px
}
.r_tittwo H2 {
	PADDING-LEFT: 6px; FLOAT: left; FONT-SIZE: 14px
}
.r_titthree H2 {
	PADDING-LEFT: 6px; FLOAT: left; FONT-SIZE: 14px
}
.r_titfour H2 {
	PADDING-LEFT: 6px; FLOAT: left; FONT-SIZE: 14px
}
.r_titone A {
	FLOAT: right
}
.r_tittwo A {
	FLOAT: right
}
.r_titthree A {
	FLOAT: right
}
.r_titfour A {
	FLOAT: right
}
.r_titone {
	LINE-HEIGHT: 36px; HEIGHT: 33px; OVERFLOW: hidden
}
.r_tittwo {
	LINE-HEIGHT: 38px; BACKGROUND-POSITION: 0px -573px; HEIGHT: 35px; OVERFLOW: hidden
}
.r_tittwo H2 {
	WIDTH: 60px
}
.r_tittwo SPAN {
	FLOAT: right; MARGIN-RIGHT: 5px
}
.r_titthree {
	LINE-HEIGHT: 34px; BACKGROUND-POSITION: 0px -320px; HEIGHT: 31px; OVERFLOW: hidden
}
.r_titfour {
	LINE-HEIGHT: 33px; BACKGROUND-POSITION: 0px -514px; HEIGHT: 30px; OVERFLOW: hidden
}
.r_titthree H2 {
	PADDING-LEFT: 10px
}
.r_titfour H2 {
	PADDING-LEFT: 10px
}
.r_titthree A {
	MARGIN-RIGHT: 10px
}
.r_titfour A {
	MARGIN-RIGHT: 10px
}
.wrap246_one H3 {
	MARGIN: 8px auto 0px; WIDTH: 225px
}
.wrap246_one .toutao_con {
	MARGIN: 8px auto 0px; WIDTH: 220px; HEIGHT: 79px
}
.wrap246_one .toutao_con IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 105px; PADDING-RIGHT: 0px; HEIGHT: 79px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.wrap246_one .toutao_con P {
	HEIGHT: 79px
}
.wrap246_one .list_item {
	MARGIN-TOP: 5px
}
.wrap246_one .list_item LI {
	MARGIN-TOP: 5px; TEXT-INDENT: 10px; BACKGROUND-POSITION: -955px -290px
}
.wrap246_one .list_item {
	WIDTH: 230px
}
.wrap246_one .pic_list {
	MARGIN: 0px auto; WIDTH: 227px
}
.pic_list A {
	LINE-HEIGHT: 1.6; MARGIN-TOP: 10px; WIDTH: 227px; DISPLAY: block; HEIGHT: 178px; COLOR: #666
}
.pic_list IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px auto 8px; PADDING-LEFT: 2px; WIDTH: 220px; PADDING-RIGHT: 2px; DISPLAY: block; BACKGROUND: #fff; HEIGHT: 145px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid; PADDING-TOP: 2px
}
.tgbs_tit {
	BACKGROUND-POSITION: 0px -687px; HEIGHT: 35px; OVERFLOW: hidden
}
.tgbs_tit H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 33px; PADDING-LEFT: 18px; PADDING-RIGHT: 25px; BACKGROUND-POSITION: -372px -307px; FLOAT: left; FONT-SIZE: 16px; PADDING-TOP: 0px
}
.tgbs_tit EM {
	COLOR: #004f8a
}
.tgbs_tit SPAN {
	MARGIN: 13px 10px 0px 0px; FLOAT: right; COLOR: #999
}
.tgbs_tit UL {
	FLOAT: left
}
.tgbs_tit LI {
	FLOAT: left
}
.tgbs_tit UL {
	BORDER-LEFT: #d7d7d7 1px solid
}
.tgbs_tit LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; HEIGHT: 24px; FONT-SIZE: 14px; BORDER-TOP: #d7d7d7 1px solid; CURSOR: pointer; BORDER-RIGHT: #d7d7d7 1px solid; PADDING-TOP: 10px
}
.tgbs_tit LI.current {
	BACKGROUND: #fff; BORDER-TOP: #1b6aac 1px solid
}
.h323 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 323px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.h317 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 323px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.h317 {
	HEIGHT: 317px
}
.wrap288 {
	MARGIN-TOP: 16px; WIDTH: 288px; PADDING-RIGHT: 18px; FLOAT: left; HEIGHT: 296px; OVERFLOW: hidden; BORDER-RIGHT: #dcdcdc 1px solid
}
.wrap_stit {
	MARGIN-TOP: 3px; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.wrap_scon {
	MARGIN-TOP: 10px; HEIGHT: 78px
}
.wrap_scon IMG {
	BORDER-BOTTOM: #c5c5c5 1px solid; BORDER-LEFT: #c5c5c5 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 0px; HEIGHT: 60px; BORDER-TOP: #c5c5c5 1px solid; MARGIN-RIGHT: 9px; BORDER-RIGHT: #c5c5c5 1px solid; PADDING-TOP: 0px
}
.wrap_scon P {
	HEIGHT: 58px; COLOR: #686868
}
.wrap_scon P A {
	PADDING-LEFT: 7px; BACKGROUND-POSITION: -379px -463px
}
.wrap288 .list_item_s {
	MARGIN-TOP: -10px
}
.list_item_s LI {
	MARGIN-TOP: 6px; TEXT-INDENT: 0px; FONT-SIZE: 14px
}
.wrap354 {
	WIDTH: 367px; FLOAT: right
}
.wrap354 LI {
	MARGIN-TOP: 8px; FONT-SIZE: 14px
}
.h317 .wrap288 {
	MARGIN-TOP: 11px
}
.h317 .wrap354 {
	MARGIN-TOP: 4px
}
.add_redbg H2 {
	BACKGROUND-POSITION: -372px -356px
}
.add_redbg EM {
	COLOR: #910003
}
.add_redbg LI.current {
	BORDER-TOP: #8f0002 1px solid
}
.add_bluebg H2 {
	BACKGROUND-POSITION: -372px -408px
}
.add_bluebg EM {
	COLOR: #457d12
}
.add_bluebg LI.current {
	BORDER-TOP: #457d12 1px solid
}
.add_bluebg LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; PADDING-TOP: 10px
}
.more_s {
	MARGIN: 10px 10px 0px 0px; FLOAT: right
}
.wrap246 {
	WIDTH: 246px; FLOAT: right
}
.h686 {
	BORDER-BOTTOM: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; BACKGROUND: #f3f3f3; OVERFLOW: hidden; BORDER-TOP: #d7d7d7 1px; BORDER-RIGHT: #d7d7d7 1px solid
}
.h686 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; HEIGHT: 686px; OVERFLOW: hidden; PADDING-TOP: 0px
}
.list_picfont LI {
	MARGIN-TOP: 11px; HEIGHT: 68px; OVERFLOW: hidden
}
.list_picfont IMG {
	BORDER-BOTTOM: #e0e0de 1px solid; BORDER-LEFT: #e0e0de 1px solid; WIDTH: 90px; FLOAT: left; HEIGHT: 65px; BORDER-TOP: #e0e0de 1px solid; MARGIN-RIGHT: 9px; BORDER-RIGHT: #e0e0de 1px solid
}
.list_picfont H4 {
	LINE-HEIGHT: 17px; WIDTH: 121px; HEIGHT: 17px; OVERFLOW: hidden
}
.list_picfont P {
	MARGIN-TOP: 5px; HEIGHT: 40px; COLOR: #333; OVERFLOW: hidden
}
.h686 .list_item {
	MARGIN-TOP: 2px; WIDTH: 100%
}
.h686 .list_item LI {
	MARGIN-TOP: 8px
}
.friends {
	BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid
}
.wrap702 {
	BORDER-BOTTOM: #dcdcdc 1px solid; BORDER-LEFT: #dcdcdc 1px solid; BORDER-TOP: #dcdcdc 1px solid; BORDER-RIGHT: #dcdcdc 1px solid
}
.wrap702 {
	WIDTH: 702px; FLOAT: left; HEIGHT: 316px
}
.wrap702 .wrap288 {
	PADDING-LEFT: 10px; HEIGHT: 260px; BORDER-RIGHT: #b0bac4 1px dotted
}
.wrap702 .pic_list {
	WIDTH: 288px; OVERFLOW: hidden
}
.wrap702 .pic_list P {
	WIDTH: 300px
}
.wrap702 .pic_list A {
	WIDTH: 92px; FLOAT: left; HEIGHT: 82px; MARGIN-RIGHT: 6px
}
.wrap702 .pic_list IMG {
	BORDER-BOTTOM: #cbcbcb 1px solid; BORDER-LEFT: #cbcbcb 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 4px; HEIGHT: 60px; BORDER-TOP: #cbcbcb 1px solid; BORDER-RIGHT: #cbcbcb 1px solid; PADDING-TOP: 0px
}
.wrap368 {
	WIDTH: 365px; PADDING-RIGHT: 10px; FLOAT: right
}
.wrap368 .list_item_s {
	MARGIN-TOP: 3px; WIDTH: 230px; FLOAT: left
}
.wrap368 .list_item_s LI {
	MARGIN-TOP: 8px
}
.wrap368 .pic_list {
	WIDTH: 122px; FLOAT: right
}
.wrap368 .pic_list A {
	MARGIN-TOP: 20px; WIDTH: 122px; HEIGHT: 115px
}
.wrap368 .pic_list IMG {
	BORDER-BOTTOM: #c4d8df 1px solid; BORDER-LEFT: #c4d8df 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 120px; PADDING-RIGHT: 0px; DISPLAY: block; MARGIN-BOTTOM: 4px; HEIGHT: 90px; BORDER-TOP: #c4d8df 1px solid; BORDER-RIGHT: #c4d8df 1px solid; PADDING-TOP: 0px
}
.h286 {
	HEIGHT: 286px
}
.h286 .pic_list {
	BORDER-BOTTOM: #d3d3d3 1px dotted; PADDING-BOTTOM: 8px; WIDTH: 222px; OVERFLOW: hidden
}
.h286 .pic_list P {
	WIDTH: 256px
}
.h286 .pic_list A {
	MARGIN: 10px 25px 0px 5px; WIDTH: 92px; DISPLAY: inline-block; HEIGHT: 89px
}
.h286 .pic_list IMG {
	BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 4px; HEIGHT: 65px; BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px
}
.h286 .list_item LI {
	MARGIN-TOP: 6px
}
.h298 {
	HEIGHT: 510px; OVERFLOW: hidden
}
.pic_listwo A {
	TEXT-ALIGN: center; LINE-HEIGHT: 1.6; MARGIN: 15px 5px 0px 10px; WIDTH: 175px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 150px; OVERFLOW: hidden
}
.pic_listwo IMG {
	BORDER-BOTTOM: #cfe0f0 1px solid; BORDER-LEFT: #cfe0f0 1px solid; PADDING-BOTTOM: 4px; MARGIN: 0px auto 3px; PADDING-LEFT: 4px; WIDTH: 165px; PADDING-RIGHT: 4px; DISPLAY: block; HEIGHT: 115px; BORDER-TOP: #cfe0f0 1px solid; BORDER-RIGHT: #cfe0f0 1px solid; PADDING-TOP: 4px
}
.friends {
	MARGIN: 7px auto 0px; WIDTH: 958px
}
.friends_a {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.friends_a A {
	TEXT-ALIGN: center; LINE-HEIGHT: 17px; MARGIN-TOP: 6px; WIDTH: 12.4%; DISPLAY: inline-block; HEIGHT: 17px; OVERFLOW: hidden
}
.h327 {
	HEIGHT: 327px
}
#index_zt {
	MARGIN-TOP: 10px; WIDTH: 234px; OVERFLOW: hidden
}
#zt_tj {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; WIDTH: 234px; MARGIN-BOTTOM: 5px
}
#zt_tj P {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 27px; FONT-SIZE: 14px; PADDING-TOP: 0px
}
#zt_tj P A {
	COLOR: #333; TEXT-DECORATION: none
}
#zt_tj P A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
#index_zt UL LI A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
#index_zt UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#index_zt UL LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; HEIGHT: 20px; FONT-SIZE: 12px; PADDING-TOP: 0px
}
#index_zt UL LI A {
	FLOAT: left; COLOR: #333; TEXT-DECORATION: none
}
#index_zt UL LI SPAN {
	FLOAT: right; COLOR: #666
}
