BODY {
	FONT-FAMILY: "SimSun"; COLOR: #000000; FONT-SIZE: 12px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BUTTON {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
INPUT {
	FONT-SIZE: 12px
}
BUTTON {
	FONT-SIZE: 12px
}
TEXTAREA {
	FONT-SIZE: 12px
}
SELECT {
	FONT-SIZE: 12px
}
EM {
	FONT-STYLE: normal
}
.fix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.fix {
	ZOOM: 1
}
A {
	COLOR: #182e62; TEXT-DECORATION: none
}
A:hover {
	COLOR: #182e62; TEXT-DECORATION: underline
}
#header {
	MARGIN: auto auto 5px; WIDTH: 960px
}
.top {
	LINE-HEIGHT: 34px; WIDTH: 960px; BACKGROUND: url(../images/bg_x.gif) repeat-x 0px 0px; HEIGHT: 37px
}
.loginArea {
	WIDTH: 610px; FLOAT: left; PADDING-TOP: 0px !important
}
.loginArea A.a1 {
	PADDING-LEFT: 33px; BACKGROUND: url(../images/pic.gif) no-repeat 10px 0px
}
.loginArea SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.home SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.inp1 {
	BORDER-BOTTOM: #979fa5 1px solid; BORDER-LEFT: #979fa5 1px solid; WIDTH: 94px; HEIGHT: 17px; BORDER-TOP: #979fa5 1px solid; MARGIN-RIGHT: 8px; BORDER-RIGHT: #979fa5 1px solid
}
.bnt {
	BORDER-BOTTOM-STYLE: none; LINE-HEIGHT: 19px; BORDER-LEFT-STYLE: none; WIDTH: 49px; BORDER-TOP-STYLE: none; BACKGROUND: url(../images/pic.gif) no-repeat 0px -29px; HEIGHT: 19px; BORDER-RIGHT-STYLE: none; MARGIN-RIGHT: 8px
}
.home {
	PADDING-RIGHT: 10px; FLOAT: right; COLOR: #2b2b2b
}
.home A {
	COLOR: #2b2b2b; TEXT-DECORATION: none
}
.home A:hover {
	COLOR: #bc2d09; TEXT-DECORATION: underline
}
.lt_nav {
	WIDTH: 960px; BACKGROUND: url(../images/nav.gif) no-repeat; HEIGHT: 72px
}
.lt_nav_in {
	WIDTH: 960px; HEIGHT: 40px
}
.lt_nav_in A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 25px; PADDING-RIGHT: 25px; FLOAT: left; HEIGHT: 27px; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 13px
}
.lt_nav_in A:hover {
	COLOR: #fff; TEXT-DECORATION: none
}
.lt_top {
	WIDTH: 960px; OVERFLOW: hidden
}
.lt_header {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 950px; PADDING-RIGHT: 5px; HEIGHT: 80px; PADDING-TOP: 5px
}
.lt_logo {
	TEXT-ALIGN: center; WIDTH: 290px; FLOAT: left; HEIGHT: 80px; FONT-SIZE: 12px
}
.lt_header_ad {
	TEXT-ALIGN: center; WIDTH: 610px; FLOAT: left; HEIGHT: 80px; MARGIN-LEFT: 50px; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.lt_nav_on {
	BORDER-BOTTOM: #ccc 1px dashed; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; WIDTH: 950px; PADDING-RIGHT: 5px; OVERFLOW: hidden; PADDING-TOP: 2px
}
.lt_nav_on A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-SIZE: 14px; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 2px
}
.lt_nav_hot {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 950px; PADDING-RIGHT: 5px; PADDING-TOP: 10px
}
#ls {
	MARGIN-TOP: 15px; WIDTH: 200px; FLOAT: left; HEIGHT: 60px
}
#ls P {
	LINE-HEIGHT: 21px; HEIGHT: 21px
}
.hidden {
	DISPLAY: none
}
.nohidden {
	DISPLAY: block
}
.clear {
	LINE-HEIGHT: 0; ZOOM: 1; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.clearfix {
	ZOOM: 1
}
.wrap960 {
	ZOOM: 1
}
.list_item {
	ZOOM: 1
}
.list_ol {
	ZOOM: 1
}
.list_double {
	ZOOM: 1
}
.list_time {
	ZOOM: 1
}
.list_item_s {
	ZOOM: 1
}
.list_time_edit {
	ZOOM: 1
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.wrap960:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.list_item:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.list_ol:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.list_double:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.list_time:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.list_item_s:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
.list_time_edit:after {
	DISPLAY: block; HEIGHT: 0px; CLEAR: both; CONTENT: ' '
}
#site_nav {
	MARGIN: 0px auto; WIDTH: 960px
}
#header {
	MARGIN: 0px auto; WIDTH: 960px
}
#nav {
	MARGIN: 0px auto; WIDTH: 960px
}
#sub_nav {
	MARGIN: 0px auto; WIDTH: 960px
}
#hot_nav {
	MARGIN: 0px auto; WIDTH: 960px
}
.wrap960 {
	MARGIN: 0px auto; WIDTH: 960px
}
.site_navl {
	BACKGROUND: url(../images/army.png) no-repeat
}
.site_navr {
	BACKGROUND: url(../images/army.png) no-repeat
}
#nav {
	BACKGROUND: url(../images/army.png) no-repeat
}
#sub_nav {
	BACKGROUND: url(../images/army.png) no-repeat
}
.sub_navl {
	BACKGROUND: url(../images/army.png) no-repeat
}
.sub_navm {
	BACKGROUND: url(../images/army.png) no-repeat
}
#hot_nav {
	BACKGROUND: url(../images/army.png) no-repeat
}
#nav LI {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.new_a {
	BACKGROUND: url(../images/nav_lin.png) no-repeat
}
.site_navl A {
	COLOR: #c00000; TEXT-DECORATION: underline
}
.site_navr A:hover {
	COLOR: #c00000; TEXT-DECORATION: underline
}
.site_navr CODE:hover {
	COLOR: #c00000; TEXT-DECORATION: underline
}
.new_keys A:hover {
	COLOR: #c00000; TEXT-DECORATION: underline
}
.site_navr A {
	COLOR: #666
}
.bananer_960 {
	TEXT-ALIGN: center; OVERFLOW: hidden
}
.bananer_960 IMG {
	MARGIN-TOP: 7px; VERTICAL-ALIGN: middle
}
#site_nav {
	HEIGHT: 29px; OVERFLOW: hidden
}
.site_navl {
	MARGIN-TOP: 6px; HEIGHT: 16px
}
.site_navr {
	MARGIN-TOP: 6px; HEIGHT: 16px
}
.site_navl {
	PADDING-LEFT: 25px; BACKGROUND-POSITION: -940px -1px; FLOAT: left; COLOR: #333
}
.site_navr {
	PADDING-LEFT: 15px; BACKGROUND-POSITION: -940px -44px; FLOAT: right; COLOR: #666
}
#site_nav A {
	MARGIN: 0px 5px
}
.site_navr CODE {
	MARGIN: 0px 5px
}
.site_navr CODE {
	CURSOR: pointer
}
#header {
	HEIGHT: 72px; OVERFLOW: hidden
}
.logocss {
	MARGIN-TOP: 4px; WIDTH: 200px; BACKGROUND: url(../images/logo.jpg) no-repeat; FLOAT: left; HEIGHT: 66px
}
.logocss A {
	TEXT-INDENT: -999em; DISPLAY: block; HEIGHT: 66px; OVERFLOW: hidden
}
.top_bananer {
	MARGIN-TOP: 7px; FLOAT: right
}
#nav {
	BACKGROUND-POSITION: 0px -80px
}
#nav {
	HEIGHT: 46px; OVERFLOW: hidden
}
#nav UL {
	HEIGHT: 46px; OVERFLOW: hidden
}
#nav A {
	FLOAT: left; OVERFLOW: hidden
}
#nav LI {
	FLOAT: left; OVERFLOW: hidden
}
#nav LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 11px; PADDING-RIGHT: 10px; HEIGHT: 43px; MARGIN-LEFT: -2px; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
#nav A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 29px; COLOR: #fff; PADDING-TOP: 14px
}
#nav A:hover {
	BACKGROUND-COLOR: #cc0000; COLOR: #fff; TEXT-DECORATION: none
}
#sub_nav {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 955px; PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0px -126px; HEIGHT: 50px; OVERFLOW: hidden; PADDING-TOP: 5px
}
#sub_nav A {
	DISPLAY: inline-block; WHITE-SPACE: nowrap; MARGIN-RIGHT: 9px
}
.sub_navl {
	LINE-HEIGHT: 1.8; PADDING-LEFT: 12px; FLOAT: left; HEIGHT: 39px; OVERFLOW: hidden
}
.sub_navm {
	LINE-HEIGHT: 1.8; PADDING-LEFT: 12px; FLOAT: left; HEIGHT: 39px; OVERFLOW: hidden
}
.sub_navr {
	LINE-HEIGHT: 1.8; PADDING-LEFT: 12px; FLOAT: left; HEIGHT: 39px; OVERFLOW: hidden
}
.sub_navl {
	BACKGROUND-POSITION: 100% -226px
}
.sub_navm {
	BACKGROUND-POSITION: 100% -226px
}
.sub_navl {
	WIDTH: 268px
}
.sub_navm {
	WIDTH: 381px
}
.sub_navr {
	WIDTH: 267px
}
#hot_nav {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 12px; WIDTH: 936px; PADDING-RIGHT: 12px; BACKGROUND-POSITION: 0px -181px; HEIGHT: 23px; PADDING-TOP: 8px
}
.new_keys {
	FLOAT: left; COLOR: #d6d8f1
}
.new_keys STRONG {
	COLOR: #144ca1; FONT-WEIGHT: normal
}
.new_keys A {
	MARGIN: 0px 8px; COLOR: #144ca1
}
.new_a {
	PADDING-LEFT: 24px; BACKGROUND-POSITION: 0px -66px; FLOAT: right
}
#pd_header {
	WIDTH: 100%; BACKGROUND: url(../images/army.png) repeat-x 0px -770px; HEIGHT: 29px
}
.nav_top {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 250px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.nav_top2 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 80px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.nav_top1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; WIDTH: 280px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 5px
}
.nav_top A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 13px; PADDING-TOP: 5px
}
.nav_top1 A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 13px; PADDING-TOP: 5px
}
.nav_top2 A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 13px; PADDING-TOP: 5px
}
.nav_top STRONG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 13px; PADDING-TOP: 5px
}
.nav_top1 STRONG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 13px; PADDING-TOP: 5px
}
.nav_top2 STRONG {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 13px; PADDING-TOP: 5px
}
.cbox {
	MARGIN: 0px auto 10px; WIDTH: 960px
}
.cbox2 {
	MARGIN: 0px auto 10px; WIDTH: 960px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -86px; HEIGHT: 236px
}
.cbox2 H3 {
	HEIGHT: 55px
}
.cbox2 H3 SPAN {
	WIDTH: 140px; FLOAT: left; HEIGHT: 26px; OVERFLOW: hidden
}
.cbox2 H3 SPAN.zwsj {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 283px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -746px
}
.cbox2 H3 SPAN.ysmw {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 52px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -796px
}
.cbox2 H3 SPAN.mrys {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 283px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -847px
}
.cbox2 H3 SPAN.kgfx {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 52px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -892px
}
.cbox2 H3 SPAN.ksls {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 283px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -932px
}
.cbox2 H3 SPAN.zsfy {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 52px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -982px
}
.col_3a {
	POSITION: relative; BORDER-LEFT: #ccc 1px solid; WIDTH: 300px; BACKGROUND: url(../images/pd.GIF) no-repeat -190px -992px; FLOAT: left; PADDING-TOP: 25px
}
.col_3a .ico {
	POSITION: absolute; WIDTH: 38px; BACKGROUND: url(../images/pd.GIF) no-repeat -194px -693px; HEIGHT: 38px; TOP: -2px; LEFT: -2px
}
.col_3a .top_news {
	BORDER-BOTTOM: #fff 3px double
}
.col_3a .top_news A:link {
	COLOR: #172e62
}
.col_3a .top_news A:visited {
	COLOR: #172e62
}
.col_3a .top_news DL {
	BORDER-BOTTOM: #999999 1px dotted; PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; HEIGHT: 80px; PADDING-TOP: 5px
}
.col_3a .top_news DL.nobd {
	BORDER-BOTTOM-STYLE: none
}
.col_3a .top_news DT {
	LINE-HEIGHT: 30px; PADDING-LEFT: 15px; BACKGROUND: url(../images/pd.GIF) no-repeat -194px -767px; HEIGHT: 30px; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.col_3a .top_news DD {
	LINE-HEIGHT: 150%; TEXT-INDENT: 2em; COLOR: #656565
}
.col_3a .top_news DL.nobd DD {
	TEXT-INDENT: 0px
}
.col_3a .top_news DL.nobd DD P {
	LINE-HEIGHT: 20px; HEIGHT: 20px; PADDING-TOP: 2px
}
.col_3a .history A:link {
	COLOR: #172e62
}
.col_3a .history A:visited {
	COLOR: #172e62
}
.col_3a .history H4 {
	LINE-HEIGHT: 30px; PADDING-LEFT: 30px; BACKGROUND: url(../images/pd.GIF) no-repeat -185px -821px; HEIGHT: 35px; COLOR: #000; FONT-SIZE: 14px
}
.col_3a .history H4 EM {
	FONT-SIZE: 12px; FONT-WEIGHT: 400
}
.col_3a .history IMG {
	BORDER-BOTTOM: #e6e1dd 1px solid; BORDER-LEFT: #e6e1dd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #e6e1dd 1px solid; MARGIN-RIGHT: 12px; BORDER-RIGHT: #e6e1dd 1px solid; PADDING-TOP: 2px
}
.col_3a .history H5 {
	LINE-HEIGHT: 25px; HEIGHT: 25px; FONT-SIZE: 14px
}
.col_3a .history P {
	LINE-HEIGHT: 150%; TEXT-INDENT: 2em; COLOR: #656565
}
.col_3b {
	WIDTH: 380px; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 10px
}
.col_3b .focus {
	POSITION: relative; BORDER-LEFT: #e7e0da 1px solid; WIDTH: 380px; HEIGHT: 283px
}
.col_3b .focus .hdtab {
	POSITION: absolute; BOTTOM: 5px; RIGHT: 5px
}
.col_3b .focus .hdtab LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #ebebeb; MARGIN: 0px 0px 0px 1px; WIDTH: 28px; DISPLAY: inline; FLOAT: left; HEIGHT: 18px
}
.col_3b .focus .hdtab LI.on {
	BACKGROUND-COLOR: #dcd7d3; COLOR: #583205; FONT-SIZE: 14px; FONT-WEIGHT: 700
}
.col_3b .focus .lbox {
	WIDTH: 379px; HEIGHT: 258px; OVERFLOW: hidden
}
.col_3b .focus .lbox IMG {
	WIDTH: 379px; DISPLAY: block; HEIGHT: 228px
}
.col_3b .focus .lbox SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: block; FONT: 700 14px/35px "SimSun"; HEIGHT: 35px; PADDING-TOP: 0px
}
.col_3b .focus .lbox SPAN A:link {
	COLOR: #172e62
}
.col_3b .focus .lbox SPAN A:visited {
	COLOR: #172e62
}
.col_3b .xhbn {
	BORDER-BOTTOM: #e7e0da 1px solid; BORDER-LEFT: #e7e0da 1px solid; BACKGROUND: url(../images/pd.GIF) #fff no-repeat right -945px; HEIGHT: 143px; BORDER-TOP: #e7e0da 1px solid; BORDER-RIGHT: #e7e0da 0px solid; PADDING-TOP: 2px
}
.col_3b .xhbn H3 {
	LINE-HEIGHT: 35px; PADDING-LEFT: 30px; BACKGROUND: url(../images/pd.GIF) no-repeat -185px -865px; HEIGHT: 35px; COLOR: #000; FONT-SIZE: 14px
}
.col_3b .xhbn UL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.col_3b .xhbn LI {
	LINE-HEIGHT: 18px; PADDING-LEFT: 25px; BACKGROUND: url(../images/pd.GIF) no-repeat -925px -691px; HEIGHT: 18px; OVERFLOW: hidden
}
.col_3b .xhbn LI.pic {
	BACKGROUND-IMAGE: none; TEXT-ALIGN: center; PADDING-LEFT: 0px; WIDTH: 135px; FLOAT: left; HEIGHT: 105px
}
.col_3b .xhbn LI.pic IMG {
	BORDER-BOTTOM: #e6e1dd 1px solid; BORDER-LEFT: #e6e1dd 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; MARGIN-BOTTOM: 3px; FLOAT: left; BORDER-TOP: #e6e1dd 1px solid; BORDER-RIGHT: #e6e1dd 1px solid; PADDING-TOP: 2px
}
.col_3c {
	BORDER-BOTTOM: #e7e0da 1px solid; BORDER-LEFT: #e7e0da 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 265px; FLOAT: left; MARGIN-LEFT: 0px; BORDER-TOP: #e7e0da 1px solid; BORDER-RIGHT: #e7e0da 1px solid
}
.col_3c .rank {
	BORDER-BOTTOM: #e7e0da 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 282px; PADDING-TOP: 0px
}
.col_3c .rank H3 {
	HEIGHT: 50px
}
.col_3c .rank H3 SPAN {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 3px; WIDTH: 140px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -690px; FLOAT: left; HEIGHT: 26px; OVERFLOW: hidden
}
.col_3c .rank UL {
	
}
.col_3c .rank LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 20px; BACKGROUND: url(../images/pd.GIF) no-repeat -932px -690px; HEIGHT: 22px; OVERFLOW: hidden
}
.col_3c .rank LI A {
	WIDTH: 190px; WHITE-SPACE: nowrap; FLOAT: left; OVERFLOW: hidden
}
.col_3c .rank LI SPAN {
	WIDTH: 30px; FLOAT: right; COLOR: #bc2d09; FONT-SIZE: 12px; margin-right:10px;
}
.col_3c .history_list {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.col_3c .history_list H3 {
	LINE-HEIGHT: 30px; PADDING-LEFT: 30px; BACKGROUND: url(../images/pd.GIF) no-repeat -185px -917px; HEIGHT: 35px; COLOR: #000; FONT-SIZE: 14px
}
.col_3c .history_list H3 SPAN {
	FLOAT: left
}
.col_3c .history_list H3 SPAN.more {
	PADDING-RIGHT: 12px; FLOAT: right; FONT-SIZE: 12px; FONT-WEIGHT: 400
}
.col_3c .history_list UL {
	
}
.col_3c .history_list LI {
	LINE-HEIGHT: 22px; PADDING-LEFT: 20px; BACKGROUND: url(../images/pd.GIF) no-repeat -932px -690px; HEIGHT: 22px
}
.lscl {
	BACKGROUND: url(../images/pd.GIF) no-repeat 0px 0px; HEIGHT: 80px
}
.lscl H3 {
	HEIGHT: 40px
}
.lscl .ttl_t1 {
	TEXT-INDENT: -99px; HEIGHT: 0px; FONT-SIZE: 0px; OVERFLOW: hidden
}
.lscl P {
	TEXT-ALIGN: center; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.lscl P A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 0px
}
.lscl P A:link {
	COLOR: #000000
}
.lscl P A:visited {
	COLOR: #000000
}
.col_2a {
	WIDTH: 690px; FLOAT: left
}
.col_2b {
	WIDTH: 250px; FLOAT: left
}
.col_2b UL {
	MARGIN: 0px 10px 0px 15px
}
.col_2b LI {
	LINE-HEIGHT: 20px; PADDING-LEFT: 12px; BACKGROUND: url(../images/pd.GIF) no-repeat -938px -688px; HEIGHT: 20px; OVERFLOW: hidden
}
.col_2b .more {
	TEXT-ALIGN: right; LINE-HEIGHT: 25px; PADDING-RIGHT: 12px
}
.col_2a H3 {
	
}
.col_2a .con1 {
	PADDING-LEFT: 22px; WIDTH: 320px; FLOAT: left
}
.col_2a .con1 IMG {
	BORDER-BOTTOM: #e6dfd9 1px solid; BORDER-LEFT: #e6dfd9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; BORDER-TOP: #e6dfd9 1px solid; MARGIN-RIGHT: 12px; BORDER-RIGHT: #e6dfd9 1px solid; PADDING-TOP: 2px
}
.col_2a .con1 H4 {
	LINE-HEIGHT: 32px; HEIGHT: 32px; FONT-SIZE: 14px
}
.col_2a .con1 P {
	LINE-HEIGHT: 150%; TEXT-INDENT: 2em; COLOR: #666666
}
.col_2a .con2 {
	PADDING-LEFT: 20px; WIDTH: 320px; FLOAT: left
}
.col_2a .con2 LI {
	LINE-HEIGHT: 23px; PADDING-LEFT: 12px; BACKGROUND: url(../images/pd.GIF) no-repeat -938px -688px; HEIGHT: 23px; FONT-SIZE: 14px
}
.col_2a .con2 .more {
	TEXT-ALIGN: right; LINE-HEIGHT: 25px; PADDING-RIGHT: 12px
}
.img_list {
	MARGIN: 0px auto 10px; WIDTH: 960px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -328px; HEIGHT: 300px
}
.img_list H3 {
	HEIGHT: 55px
}
.img_list H3 SPAN {
	WIDTH: 140px; FLOAT: left; HEIGHT: 26px; OVERFLOW: hidden
}
.img_list H3 SPAN.lsyx {
	TEXT-INDENT: -99px; MARGIN: 10px 0px 0px 395px; BACKGROUND: url(../images/pd.GIF) no-repeat 0px -1025px
}
.img_list UL {
	FLOAT: left
}
.img_list LI {
	TEXT-ALIGN: center; DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 27px
}
.img_list LI IMG {
	BORDER-BOTTOM: #e6dfd9 1px solid; BORDER-LEFT: #e6dfd9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MARGIN-BOTTOM: 7px; BORDER-TOP: #e6dfd9 1px solid; BORDER-RIGHT: #e6dfd9 1px solid; PADDING-TOP: 2px
}
.img_list .more {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 0px; PADDING-RIGHT: 22px; HEIGHT: 25px; CLEAR: both; PADDING-TOP: 10px
}
.books {
	BORDER-BOTTOM: #e6dfd9 1px solid; BORDER-LEFT: #e6dfd9 1px solid; BACKGROUND-COLOR: #faf9f7; WIDTH: 948px; BORDER-TOP: #e6dfd9 1px solid; BORDER-RIGHT: #e6dfd9 1px solid
}
.tit1 {
	LINE-HEIGHT: 38px; BACKGROUND: url(../images/img_rept1.png) repeat-x 0px 0px; HEIGHT: 38px
}
.tit1 UL {
	FLOAT: left
}
.tit1 LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; FONT: 700 18px/38px "MicroSoft YaHei"; FLOAT: left; COLOR: #775635; BORDER-RIGHT: #e6dfd9 1px solid; PADDING-TOP: 0px
}
.tit1 LI.on {
	BACKGROUND-COLOR: #faf9f7
}
.tit1 SPAN {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 25px; FLOAT: right; COLOR: #ae9376; PADDING-TOP: 0px
}
.books .lbox {
	POSITION: relative; HEIGHT: 200px; CLEAR: both
}
.books .lbox .go_left {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 24px; BACKGROUND: url(../images/img_marquee.png) no-repeat 0px 100%; HEIGHT: 28px; CURSOR: default; TOP: 80px; LEFT: 15px
}
.books .lbox .go_right {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 24px; BACKGROUND: url(../images/img_marquee.png) no-repeat 100% 100%; HEIGHT: 28px; CURSOR: default; RIGHT: 15px; TOP: 80px
}
.books .lbox UL.s1 {
	POSITION: absolute; WIDTH: 828px; FLOAT: left; HEIGHT: 190px; OVERFLOW: hidden; TOP: 6px; LEFT: 0px
}
.books .lbox UL.s1 LI {
	TEXT-ALIGN: center; WIDTH: 113px; FLOAT: left; HEIGHT: 190px; MARGIN-RIGHT: 30px
}
.books .lbox UL.s1 LI IMG {
	BORDER-BOTTOM: #e6dfd9 1px solid; BORDER-LEFT: #e6dfd9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MARGIN-BOTTOM: 7px; BORDER-TOP: #e6dfd9 1px solid; BORDER-RIGHT: #e6dfd9 1px solid; PADDING-TOP: 2px
}
.books .lbox .over_hidden {
	POSITION: relative; WIDTH: 828px; HEIGHT: 190px; OVERFLOW: hidden; TOP: 8px; LEFT: 60px
}
.books .lbox .go_left2 {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 24px; BACKGROUND: url(../images/img_marquee.png) no-repeat 0px 100%; HEIGHT: 28px; CURSOR: default; TOP: 80px; LEFT: 15px
}
.books .lbox .go_right2 {
	Z-INDEX: 10; POSITION: absolute; WIDTH: 24px; BACKGROUND: url(../images/img_marquee.png) no-repeat 100% 100%; HEIGHT: 28px; CURSOR: default; RIGHT: 15px; TOP: 80px
}
.books .lbox UL.s2 {
	POSITION: absolute; WIDTH: 828px; FLOAT: left; HEIGHT: 190px; OVERFLOW: hidden; TOP: 6px; LEFT: 0px
}
.books .lbox UL.s2 LI {
	TEXT-ALIGN: center; WIDTH: 113px; FLOAT: left; HEIGHT: 190px; MARGIN-RIGHT: 30px
}
.books .lbox UL.s2 LI IMG {
	BORDER-BOTTOM: #e6dfd9 1px solid; BORDER-LEFT: #e6dfd9 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; MARGIN-BOTTOM: 7px; BORDER-TOP: #e6dfd9 1px solid; BORDER-RIGHT: #e6dfd9 1px solid; PADDING-TOP: 2px
}
.books .lbox .go_on {
	BACKGROUND: url(../images/img_marquee.png) no-repeat 0px 0px; CURSOR: pointer
}
.books .lbox .go_on2 {
	BACKGROUND: url(../images/img_marquee.png) no-repeat 100% 0px; CURSOR: pointer
}
#t_list {
	BORDER-BOTTOM: #e3dbd4 1px solid; PADDING-BOTTOM: 8px; MARGIN: 0px 5px 5px; PADDING-LEFT: 25px; WIDTH: 905px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/t_bg1.JPG) no-repeat 10px 11px; COLOR: #333; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
#t_list1 {
	BORDER-BOTTOM: #e3dbd4 1px solid; PADDING-BOTTOM: 8px; MARGIN: 0px 5px 5px; PADDING-LEFT: 25px; WIDTH: 650px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/t_bg1.JPG) no-repeat 10px 11px; COLOR: #583108; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
#t_list2 {
	BORDER-BOTTOM: #e3dbd4 1px solid; PADDING-BOTTOM: 8px; MARGIN: 0px 5px 5px; PADDING-LEFT: 25px; WIDTH: 210px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/t_bg1.JPG) no-repeat 10px 11px; COLOR: #583108; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
#t_list3 {
	BORDER-BOTTOM: #e3dbd4 1px solid; PADDING-BOTTOM: 8px; MARGIN: 0px 5px 5px; PADDING-LEFT: 25px; WIDTH: 210px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/t_bg1.JPG) no-repeat 10px 11px; COLOR: #000; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; PADDING-TOP: 12px
}
#t_list A {
	FLOAT: left; COLOR: #000
}
#t_list1 A {
	FLOAT: left; COLOR: #000
}
#t_list2 A {
	FLOAT: left; COLOR: #000
}
#t_list3 A {
	FLOAT: left; COLOR: #000
}
#t_list SPAN {
	FLOAT: right
}
#t_list1 SPAN {
	FLOAT: right
}
#t_list2 SPAN {
	FLOAT: right
}
#left_list {
	PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#left_list LI {
	PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; PADDING-LEFT: 12px; PADDING-RIGHT: 5px; BACKGROUND: url(../images/pd.GIF) no-repeat -938px -688px; PADDING-TOP: 5px
}
#tj {
	WIDTH: 320px; OVERFLOW: hidden
}
#ls_ad {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: auto auto 10px; WIDTH: 960px; HEIGHT: 90px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; MARGIN-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CLEAR: both; PADDING-TOP: 0px
}
.jstk {
	BORDER-BOTTOM: #dcdbdb 1px solid; BORDER-LEFT: #dcdbdb 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 20px; MARGIN: auto; WIDTH: 960px; HEIGHT: 100%; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #dcdbdb 1px solid; BORDER-RIGHT: #dcdbdb 1px solid; _margin-bottom: 10px
}
.jstk H3 {
	LINE-HEIGHT: 38px; PADDING-LEFT: 16px; MARGIN-BOTTOM: 16px; BACKGROUND: url(../images/bg_x.gif) repeat-x 0px -320px; HEIGHT: 38px
}
.jstk A {
	WIDTH: 173px; FLOAT: left; HEIGHT: 172px; MARGIN-LEFT: 16px
}
.jstk IMG {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 161px; PADDING-RIGHT: 5px; MARGIN-BOTTOM: 5px; HEIGHT: 115px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.jstk P {
	TEXT-ALIGN: center
}
