body {
	font-size:12px;
	color:#666666;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:"宋体";
}
body, ul, li, p, dd {
	margin:0px;
	padding:0px;
}
img {
	vertical-align:top;
}
ul, li, dl {
	list-style-type:none;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:normal;
}
div, form, img, ul, ol, li, dl, dt, dd {
	margin:0;
	padding:0;
	border:0;
}
.clear {
	height:0px;
	line-height:0px;
	font-size:0px;
	clear:both;
}
ul, li, dl, dd, dt {
	list-style:none;
}
a {
	color:#333;
	text-decoration:none;
	font-family:"宋体";
}
a:hover {
	color:#058dd2;
	text-decoration:underline;
	font-family:"宋体";
}
a.font14bold {
	font-size:14px;
	font-family:"宋体";
	font-weight:bold;
	color:#235f1d;
	text-decoration:none;
}
a.font14bold:hover {
	font-size:14px;
	font-family:"宋体";
	font-weight:bold;
	color:#058dd2;
	text-decoration:underline;
}
a.font12hui {
	font-size:12px;
	color:#727272;
	text-decoration:none;
}
a.font12hui:hover {
	font-size:12px;
	color:#235f1d;
	text-decoration:underline;
}
a.font12 {
	font-size:12px;
	font-family:"宋体";
	color:#235f1d;
	text-decoration:none;
}
a.font12:hover {
	font-size:12px;
	font-family:"宋体";
	color:#235f1d;
	text-decoration:underline;
}
a.font14 {
	font-size:14px;
	font-family:"宋体";
	color:#235f1d;
	text-decoration:none;
}
a.font14:hover {
	font-size:14px;
	font-family:"宋体";
	color:#235f1d;
	text-decoration:underline;
}
a.fonthong {
	color:#d4a823;
	font-family:"宋体";
	font-size:12px;
	text-decoration:none;
}
a.fonthong:hover {
	color:#235f1d;
	font-family:"宋体";
	font-size:12px;
	text-decoration:underline;
}
a.h-botrighttopli {
	color:#7f7f7f;
	text-decoration:none;
}
a.h-botrighttopli:hover {
	color:#235f1d;
	text-decoration:underline;
}
a.xiangxi {
	font-size:12px;
	font-family:"宋体";
	color:#058dd2;
	text-decoration:none;
}
a.xiangxi:hover {
	font-size:12px;
	font-family:"宋体";
	color:#058dd2;
	text-decoration:underline;
}



.menu{ width:1000px; float:left; background:url(../images/newsmenu_03.gif) no-repeat; height:39px; margin-top:10px;}
.menu ul{ height:39px;  float:left; width:980px; margin-left:20px; display:inline;}
.menu li{ float:left;display:block; height:39px; line-height:39px;text-align:center; padding:0 10px 0px 18px; background:url(../images/news_leve.gif) right no-repeat;}
.menu li a{ display:block; float:left; font-size:14px; color:#fff; text-decoration:none; text-align:center; font-family: "Microsoft YaHei" ! important;}
.menu li a:hover{display:block; float:left; font-size:14px; color:#fff; text-decoration:none; text-align:center; font-family: "Microsoft YaHei" ! important;}
.menulihover{ display:block; float:left; font-family: "Microsoft YaHei" ! important; font-size:14px; color:#fff; text-align:center; background:#0d5a8b; }

.con1 {
	width:998px;
	height:298px;
	border:#e2ebff solid 1px; background:url(../images/newsbg_03.gif) repeat;
	float:left;
	margin-top:10px;
}

.slider{width:958px;height:298px;position:relative;overflow:hidden; float:left; margin-left:20px; display:inline;}

.conbox{position:absolute;}

.switcher{position:absolute;bottom:20px;left:35px;float:right;z-index:99;}

.switcher a{background:#045781;   cursor:pointer;float:left;height:18px; width:22px; margin-right:1px; line-height:18px; text-align:center; color:#fff;}

.switcher a.cur,.switcher a:hover{background:#1c74a0; color:#fff; text-decoration:none;}

#slider1 .conbox{width:100%;}

#slider1 .conbox div{width:958px;height:298px;overflow:hidden;float:left;}
#slider1 .conbox div dl{ width:958px; float:left; margin-top:22px;}
#slider1 .conbox div dl dd{ width:450px; float:left;  display:inline;  color:#fff; line-height:24px; height:230px; overflow:hidden;}
#slider1 .conbox div dl dd a{ color:#fff; text-decoration:none;}
#slider1 .conbox div dl dd a:hover{ color:#fff; text-decoration:none;}

#slider1 .conbox div dl dd h3{ color:#fff; font-size:24px; height:45px; line-height:45px; font-family: "Microsoft YaHei" ! important; background:url(../images/newsbg_10.gif) repeat-x bottom; width:450px; padding-bottom:5px; margin-bottom:10px; text-align:center;}
#slider1 .conbox div dl dd h3 a{ color:#fff; font-size:24px; font-family: "Microsoft YaHei" ! important; text-decoration:none;}
#slider1 .conbox div dl dd h3 a:hover{ color:#fff; font-size:24px; font-family: "Microsoft YaHei" ! important; text-decoration:none;}
#slider1 .conbox div dl dt{ width:487px; float:left; margin-left:20px; display:inline;}
#slider1 .conbox div dl dt img{ width:485px; float:left; border:#e1cbcb solid 1px; height:254px; overflow:hidden;}

.con2 {
	width:1000px;
	float:left;
	margin-top:10px;
}
.con2left {
	width:341px;
	float:left;
}
.l_mainland {
	width:341px;
	float:left;
	height:270px;
}
.l_mianladnt {
	width:333px;
	float:left;
	background:url(../images/news-img_10.gif) no-repeat;
	height:38px;
	padding-right:8px;
	text-align:right;
	line-height:38px;
}
.l_mianladnbot {
	width:320px;
	float:left;
	margin-left:15px;
	display:inline;
}
.l_mianladnbot dl {
	float:left;
	width:320px;
}
.l_mianladnbot dl h3 {
	height:30px;
	width:320px;
	overflow:hidden;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.l_mianladnbot dl dd {
	float:left;
	height:82px;
	width:133px;
	border:#b6b6b6 solid 1px;
	overflow:hidden;
}
.l_mianladnbot dl dt {
	width:170px;
	float:left;
	margin-left:8px;
	line-height:18px;
	margin-top:5px;
	display:inline;
}
.l_mianladnbot ul {
	float:left;
	display:inline;
	margin-left:5px;
	width:310px;
	margin-top:10px;
}
.l_mianladnbot ul li {
	font-size:14px;
	float:left;
	width:300px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	line-height:24px;
	height:24px;
	padding-left:10px;
}
.l_gangao {
	width:341px;
	float:left;
	height:270px;
}
.l_gangaot {
	width:333px;
	float:left;
	background:url(../images/news-img_25.gif) no-repeat;
	height:38px;
	padding-right:8px;
	text-align:right;
	line-height:38px;
}
.l_gangaobot {
	width:320px;
	float:left;
	margin-left:15px;
	display:inline;
}
.l_gangaobot dl {
	float:left;
	width:320px;
}
.l_gangaobot dl h3 {
	height:30px;
	width:320px;
	overflow:hidden;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.l_gangaobot dl dd {
	float:left;
	height:82px;
	width:133px;
	border:#b6b6b6 solid 1px;
	overflow:hidden;
}
.l_gangaobot dl dt {
	width:170px;
	float:left;
	margin-left:8px;
	line-height:18px;
	margin-top:5px;
	display:inline;
}
.l_gangaobot ul {
	float:left;
	display:inline;
	margin-left:5px;
	width:310px;
	margin-top:10px;
}
.l_gangaobot ul li {
	font-size:14px;
	float:left;
	width:300px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	line-height:24px;
	height:24px;
	padding-left:10px;
}
.l_guoji {
	width:341px;
	float:left;
	height:270px;
}
.l_guojit {
	width:333px;
	float:left;
	background:url(../images/news-img_33.gif) no-repeat;
	height:38px;
	padding-right:8px;
	text-align:right;
	line-height:38px;
}
.l_guojibot {
	width:320px;
	float:left;
	margin-left:15px;
	display:inline;
}
.l_guojibot dl {
	float:left;
	width:320px;
}
.l_guojibot dl h3 {
	height:30px;
	width:320px;
	overflow:hidden;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
}
.l_guojibot dl dd {
	float:left;
	height:82px;
	width:133px;
	border:#b6b6b6 solid 1px;
	overflow:hidden;
}
.l_guojibot dl dt {
	width:170px;
	float:left;
	margin-left:8px;
	line-height:18px;
	margin-top:5px;
	display:inline;
}
.l_guojibot ul {
	float:left;
	display:inline;
	margin-left:5px;
	width:310px;
	margin-top:10px;
}
.l_guojibot ul li {
	font-size:14px;
	float:left;
	width:300px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	line-height:24px;
	height:24px;
	padding-left:10px;
}
.l_chanyan {
	width:341px;
	float:left;
}
.l_chanyant {
	width:336px;
	float:left;
	background:url(../images/news-img_39.gif) no-repeat;
	height:38px;
	padding-right:5px;
	text-align:right;
	line-height:38px;
}
.l_chanyanbot {
	width:320px;
	float:left;
	margin-left:15px;
	display:inline;
	margin-top:10px;
}
.l_chanyanbot dl {
	float:left;
	width:320px;
}
.l_chanyanbot dl dd {
	float:left;
	height:138px;
	width:119px;
	overflow:hidden;
}
.l_chanyanbot dl dt {
	width:180px;
	float:left;
	margin-left:8px;
	line-height:18px;
	display:inline;
}
.l_chanyanbot dl dt h3 {
	height:25px;
	width:170px;
	overflow:hidden;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
}
.l_chanyanbot ul {
	float:left;
	display:inline;
	margin-left:5px;
	width:310px;
	margin-top:10px;
}
.l_chanyanbot ul li {
	font-size:14px;
	float:left;
	width:300px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	line-height:24px;
	height:24px;
	padding-left:10px;
}
.con2cent {
	width:382px;
	float:left;
	margin-left:15px;
	display:inline;
}
.con2centtop {
	width:382px;
	float:left;
}
.con2centtopti {
	width:372px;
	float:left;
	background:url(../images/news-img_12.gif) no-repeat;
	padding-right:10px;
	line-height:30px;
	height:30px;
	text-align:right;
}
.con2centtopbot {
	width:372px;
	float:left;
	margin-top:5px;
}
.con2centtopbot ul {
	width:372px;
	float:left;
	margin-left:2px;
	display:inline;
	margin-top:12px;
	border-bottom:dashed 1px #a4988d;
	padding-bottom:12px;
}
.con2centtopbot ul li {
	width:360px;
	float:left;
	line-height:24px;
	height:24px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	padding-left:10px;
	font-size:14px;
}
.con2centtopbot ul li a {
	font-family:"宋体";
	font-size:14px;
	color:#1f3b7b;
	text-decoration:none;
}
.con2centtopbot ul li a:hover {
	font-family:"宋体";
	font-size:14px;
	color:#1f3b7b;
	text-decoration:underline;
}
.con2centb {
	width:382px;
	float:left;
}
.con2centbt {
	width:372px;
	float:left;
	background:url(../images/news-img_41.gif) no-repeat;
	height:38px;
	padding-right:10px;
	text-align:right;
	line-height:38px;
}
.con2centbbot {
	width:360px;
	float:left;
	margin-left:15px;
	display:inline;
	margin-top:10px;
}
.con2centbbot dl {
	float:left;
	width:360px;
}
.con2centbbot dl dd {
	float:left;
	height:136px;
	width:119px;
	overflow:hidden;
}
.con2centbbot dl dt {
	width:180px;
	float:left;
	margin-left:8px;
	line-height:18px;
	display:inline;
}
.con2centbbot dl dt h3 {
	height:25px;
	width:170px;
	overflow:hidden;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
}
.con2centbbot ul {
	float:left;
	display:inline;
	margin-left:5px;
	width:310px;
	margin-top:10px;
}
.con2centbbot ul li {
	float:left;
	width:300px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	line-height:24px;
	height:24px;
	padding-left:10px;
}
.con2right {
	width:250px;
	float:right;
}
.con2righttop {
	width:250px;
	height:263px;
	float:left;
	background:#f6f4fa;
}
.con2righttopt {
	width:250px;
	float:left;
}
.con2righttopbot {
	width:250px;
	float:left;
}
.con2righttopbot ul {
	width:210px;
	float:left;
	margin-left:20px;
	display:inline;
}
.con2righttopbot ul li {
	float:left;
	width:210px;
	padding-left:10px;
	background:url(../images/news-imgd_18.gif) no-repeat center left;
	height:24px;
	line-height:24px;
}
.con2rightgz {
	height:294px;
	width:250px;
	float:left;
	background:#f6f4fa;
	margin-top:10px;
}
.con2rightgzt {
	background:url(../images/news-img_26.gif) no-repeat;
	float:left;
	height:36px;
	line-height:36px;
	padding-right:10px;
	width:240px;
	text-align:right;
}
.con2rightgzbot {
	width:230px;
	float:left;
	margin-left:12px;
	display:inline;
}
.con2rightgzbot dl {
	width:230px;
	float:left;
	margin-top:5px;
	border-bottom: dashed 1px #d1c1b4;
	padding-bottom:7px;
}
.con2rightgzbot dl h3 {
	width:230px;
	height:25px;
	line-height:25px;
}
.con2rightgzbot dl dd {
	float:left;
	width:95px;
	height:86px;
	border:#dedede solid 1px;
}
.con2rightgzbot dl dt {
	float:left;
	width:120px;
	display:inline;
	margin-left:8px;
	line-height:18px;
}
.con2rightwb {
	width:248px;
	height:325px;
	border:solid #e9e9e9 1px;
	float:left;
	margin-top:10px;
}
.con2rightwbti {
	width:223px;
	background:url(../images/news-img_40.gif) no-repeat;
	height:29px;
	line-height:29px;
	float:left;
	padding-left:25px;
	border-bottom:solid #e9e9e9 1px;
	font-size:14px;
	font-weight:bold;
	color:#616161;
}
.con2rightwbbot {
	width:230px;
	float:left;
	margin-left:11px;
	display:inline;
	margin-top:10px;
}
.con2rightwbbot dl {
	width:230px;
	float:left;
}
.con2rightwbbot dl dd {
	float:left;
	width:95px;
	height:86px;
	border:#dedede solid 1px;
}
.con2rightwbbot dl dt {
	float:left;
	margin-left:8px;
	display:inline;
	width:110px;
	line-height:18px;
}
.con2rightwbbot dl dt h3 {
	height:25px;
	line-height:25px;
	font-size:14px;
	font-weight:bold;
}
.con2rightwbbot dl dt span {
	color:#d46313;
}
.con2rightwbbot ul {
	margin-top:10px;
	line-height:18px;
	float:left;
	width:230px;
}
.con2rightwbbot ul li {
	float:left;
}
.con2rightrw {
	width:248px;
	height:182px;
	border:solid #e9e9e9 1px;
	float:left;
	margin-top:5px;
}
.con2rightrwti {
	width:223px;
	background:url(../images/news-img_40.gif) no-repeat;
	height:29px;
	line-height:29px;
	float:left;
	padding-left:25px;
	border-bottom:solid #e9e9e9 1px;
	font-size:14px;
	font-weight:bold;
	color:#616161;
}

.con2rightrwbot {
	width:230px;
	float:left;
	margin-left:11px;
	display:inline;
	margin-top:5px;
}
.feature-slide-preview dl {
	width:230px;
	float:left;
	margin-bottom:5px;
}
.feature-slide-preview dl dd {
	float:left;
	width:97px;
	height:87px;
	border:#dedede solid 1px;
}
.feature-slide-preview dl dt {
	float:left;
	margin-left:8px;
	display:inline;
	width:110px;
	line-height:18px;
	height:87px;
	overflow:hidden;
}
.feature-slide-preview dl h3 {
	height:25px;
	line-height:25px;
	font-size:12px;
	font-weight:bold;
	color:#2950a7;
}
.feature-slide-preview dl h3 a {
	font-size:12px;
	font-weight:bold;
	color:#2950a7;
	text-decoration:none;
}
.feature-slide-preview dl h3 a:hover {
	font-size:12px;
	font-weight:bold;
	color:#2950a7;
	text-decoration:underline;
}
.index-splash-block {
	width: 220px;
	height: 152px;
	text-align:	left;
}
.index-splash-block .feature-slide-preview {
	float:left;
	display: none;
	width: 220px;
	overflow: hidden;
}
.index-splash-block .feature-slide-preview .screenshot {
	display: block;
	margin: auto;
}
.index-splash-block .feature-slide-list { float:left; margin-left:40px; display:inline;
	width: 150px;
	height: 22px;
	overflow: hidden;
}
.index-splash-block .feature-slide-list a {
	float: left;
	display: inline;
	width: 22px;
	height: 22px;
	background: url(../images/feature-point.png) center no-repeat;
	_background: url(../images/feature-point-4ie6.png) center no-repeat;
}
.index-splash-block .feature-slide-list a.current {
	background: url(../images/feature-point-current.png) center no-repeat;
	_background: url(../images/feature-point-current-4ie6.png) center no-repeat;
}
.index-splash-block .feature-slide-list .feature-slide-list-items {
	display: inline;
}
.index-splash-block .feature-slide-list a.feature-slide-list-previous {
	background: url(../images/feature-point-previous.png);
	_background: url(../images/feature-point-previous-4ie6.png);
}
.index-splash-block .feature-slide-list a.feature-slide-list-next {
	background: url(../images/feature-point-next.png);
	_background: url(../images/feature-point-next-4ie6.png);
}
.con2rightrwbot dl dt span {
	color:#d46313;
}
.con2rightrwbot ul {
	margin-top:10px;
	line-height:18px;
	float:left;
	width:230px;
}
.con2rightrwbot ul li {
	float:left;
}
.con2rightbot {
	width:248px;
	float:left;
	margin-top:10px;
	border:#e3e3e3 solid 1px;
}
.con3 {
	width:1000px;
	float:left;
	margin-top:10px;
}
.con3top {
	width:1000px;
	float:left;
}
.con3bot {
	width:1000px;
	float:left;
	height:295px;
	background:#ebedfa;
}
.con3botleft {
	width:746px;
	float:left;
	height:280px;
	margin-top:10px;
}
.con3botright {
	width:228px;
	float:left;
	margin-left:12px;
	margin-top:10px;
	display:inline;
}
.con3botrighttitl {
	width:228px;
	float:left;
	background:url(../images/news-img_68.gif) no-repeat;
	height:44px;
}
.con3botrighttitl ul {
	margin-top:10px;
	height:24px;
	width:105px;
	float:right;
}
.con3botrighttitl li, .discussSide-title li {
	height:24px;
	width:46px;
	line-height:24px;
	float:left;
	text-align:center;
	color:#958b8b;
	font-size:14px;
	font-family:"宋体";
	display:inline;
	margin-right:5px;
}
.con3botrighttitl li a, .discussSide-title li a {
	cursor:pointer;
	height:24px;
	width:46px;
line-height24px;
	overflow:hidden;
	color:#404040;
	text-decoration:none;
	font-size:14px;
	font-family:"宋体";
}
.con3botrighttitl li a.current, .discussSide-title li a.current {
	height:24px;
	width:46px;
	line-height:24px;
	color:#fff;
	text-decoration:none;
	font-size:14px;
	font-family:"宋体";
	display:block;
	font-weight:bold;
	background:#4a88e2;
}
.con3bottightbot {
	width:228px;
	float:left;
	margin-top:10px;
	margin-left:10px;
	display:inline;
}
.con3bottightbot1 {
	width:208px;
	float:left;
}
.con3bottightbot1 li {
	float:left;
	width:198px;
	height:24px;
	line-height:24px;
	background:url(../images/news-img_22.gif) no-repeat center left;
	padding-left:10px;
}



.starPic { float:left; margin-left:20px; display:inline;
	WIDTH: 710px;

	CLEAR: both
}
.starPic .starLeft {
	MARGIN: 109px 2px 0px 0px;
	WIDTH: 19px; background:url(../images/newsjian_66.gif) no-repeat;
	FLOAT: left;
	HEIGHT: 95px;
	CURSOR: pointer
}
.starPic .starRight {
	MARGIN: 109px 0px 0px 0px;
	WIDTH: 19px; background:url(../images/newsjian_69.gif) no-repeat;
	FLOAT: left;
	HEIGHT: 95px;
	CURSOR: pointer
}
.starPic .starBox {
	WIDTH: 660px; margin-left:5px; display:inline;
	FLOAT: left
}
.starPic .spBox {
	Z-INDEX: 2;
	POSITION: relative;
	WIDTH:660px;
	FLOAT: left;
	HEIGHT:260px
}
#spBox0 {
	Z-INDEX: 100;
	POSITION: absolute;
	LEFT: 210px; background:#eaecf9;
}
#spBox0 IMG {
	BORDER: #bcbec8 1px solid;
	padding:4px;
	WIDTH: 220px;
	HEIGHT: 250px;
}
#spBox1 {
	Z-INDEX: 98;
	POSITION: absolute;
	TOP: 25px;
	LEFT: 105px;background:#eaecf9;
}
#spBox1 IMG {
	BORDER: #bcbec8 1px solid;
	padding:4px;
	WIDTH: 220px;
	HEIGHT: 200px;
}
#spBox2 {
	Z-INDEX: 96;
	POSITION: absolute;
	TOP: 50px;
	LEFT: 0px;background:#eaecf9;
}
#spBox2 IMG {
	BORDER: #bcbec8 1px solid;
	padding:4px;
	WIDTH: 220px;
	HEIGHT: 150px;
}
#spBox3 {
	Z-INDEX: 96;
	POSITION: absolute;
	TOP: 50px;
	LEFT: 420px;background:#eaecf9;
}
#spBox3 IMG {
	BORDER: #bcbec8 1px solid;
	padding:4px;
	WIDTH: 220px;
	HEIGHT: 150px;
}
#spBox4 {
	Z-INDEX: 98;
	POSITION: absolute;
	TOP: 25px;
	LEFT:315px;background:#eaecf9;
}
#spBox4 IMG {
	BORDER: #bcbec8 1px solid;
	padding:4px;
	WIDTH: 220px;
	HEIGHT: 200px;
}
.starPic .spTitle {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 25px;
	MARGIN: 0px auto;
	CLEAR: both;
	FONT-WEIGHT: bold
}
.sortLeft {
	WIDTH: 218px;
	FLOAT: left;
	OVERFLOW: hidden
}
